<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">О ПРОЕКТЕ</li>  
      <li><%= link_to "1. Для кого предназначен проект?", "#R1"%></li>
      <li><%= link_to "2. Как происходит работа пользователя? (Обзор)", "#R2"%></li>  
      <li><%= link_to "3. Как снять ограничения Демо-режима?", "#R3"%></li>
      <li><%= link_to "4. Что необходимо для работы? (Техническая часть)", "#R4"%></li>
      <li><%= link_to "5. Политика безопасности сайта", "#R5"%></li>
      <li class="divider"></li>
      <li><%= link_to "На главную страницу", root_path %></li>
    </ul>  
  </div>  
<% end %>
