<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">О ПРОЕКТЕ</li>  
      <li><%= link_to "1. Для кого предназначен проект ?", "#R1"%></li>
      <li><%= link_to "2. Что необходимо для работы? (Техническая часть)", "#R2"%></li>  
      <li><%= link_to "3. Почему работать с системой безопасно?", "#R3"%></li>
      <li><%= link_to "4. Как происходит работа пользователя? (Обзор)", "#R4"%></li>
      <li><%= link_to "5. Как снять ограничение на 15-дневный срок доступа?", "#R5"%></li>
      <li class="divider"></li>
      <li><%= link_to "На главную страницу", root_path %></li>
    </ul>  
  </div>  
<% end %>
