<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">О ПРОЕКТЕ</li>  
      <li><%= link_to "1. Что необходимо для работы? (Техническая часть)", "#R1"%></li>  
      <li><%= link_to "2. Почему работать с системой безопасно?", "#R2"%></li>
      <li><%= link_to "3. Как происходит работа пользователя? (Обзор)", "#R3"%></li>
      <li><%= link_to "4. Как стать постоянным пользователем сервиса?", "#R4"%></li>
      <li class="divider"></li>
      <li><%= link_to "На главную страницу", root_path %></li>
    </ul>  
  </div>  
<% end %>
