<% provide(:title, 'О проекте') %>

  <%= render 'navbar4about'%>
   
<% content_for :span9 do %>
  <a name="BeginOfPage"></a>
  <legend><%= image_tag("Column Chart 64.png")%>О Проекте</legend>
  <div style="text-align: justify; 
       border: solid darkgray ; 
       border-left: double; 
       color: black; 
       background-color:#f2eeee;
       line-height: 1.3em; font-size: 10pt; padding: 5pt ">
    <a name="R1"></a>
    <h3  style="line-height: 1.5em; color: darkcyan;">1. Что необходимо для работы (техническая часть)?</h3>
    Для работы с нашим сервисом необходимо постоянное соединение с Интернетом и 
    любое устройство (<em>настольный ПК (PC или Mac), ноутбук, планшетный PC и т.д. и т.п.</em>), поддерживающее работу с
    интернет-браузером. При этом Вы не ограничиваетесь в выборе операционной системы (<em>Win/Linux/Mac</em>), но избавляетесь 
    от необходимости выбора каких-либо дополнительных программ и поиска дополнительного дискового пространства для Ваших данных. Вся введённая 
    информация хранится в промышленной базе данных на Web-сервере вместе с программной частью системы.</br>
    Наши тесты показали показали, что наиболее качественно (<em>т.е. "как и задумывалось"</em>) веб-страницы системы отображаются в браузерах
    <strong>FireFox, Chrome, Opera, Safari (для пользователей Mac OS)</strong>. Использование браузера <strong>Internet Explorer</strong> так же допустимо, но только как можно более новых версий. 
    Это связано с необходимостью поддержки новых стандартов разметки и оформления страниц <strong>HTML 5</strong> и <strong>CSS 3</strong>. 
    В противном случае, вы столкнётесь c искажением шрифтов, размеров текста, внутри текстовых полей не выводятся подсказки (т.н. place-holders), 
    формы командных кнопок и цвета графических элементов диаграмм. 
    Для работы программного кода на стороне клиента и поддержки механизма сессий необходимо, чтобы в браузере были включены JavaScript и cookies. 
    В разных браузерах это делается по-разному. Иногда эти опции уже включены по умолчанию. Но, в целом, суть этой процедуры одна и та же. 
    Вы выполняете это в настройках браузера, и оно начинает работать.
    <ul>
      <li><strong>Firefox</strong>:  В  меню  выберите:  <em>Инструменты  >  Настройки…  >  закладки «Содержимое» и «Приватность».</em></li>
      <li><strong>Google  Chrome</strong>:  В  меню  выберите:  <em>Параметры  >  закладка «Расширенные» > кнопка «Настройки содержания…»</em></li>
      <li><strong>Internet Explorer</strong>:   В меню выберите: <em>Сервис > Свойства обозревателя > закладки «Конфиденциальность» и «Безопасность».</em></li> 
      <li><strong>Safari</strong>: В меню выберите: <em>Настройки  > Безопасность.</em></li> 
    </ul>   
    <a name="R2"></a>
    Если Вы испытываете трудности при выполнении или проверке этих настроек на своём компьютере, обратитесь за помощью к Вашему системному администратору.</br>

<%= link_to " (В начало страницы)", "#BeginOfPage"  %>
    <h3  style="line-height: 1.5em; color: darkcyan;">2. Почему работать с системой безопасно?</h3>
    Решение вопросов безопасности основывается на применяемой в процессе разработки архитектуре Web-приложений, в основу которой уже 
    заложены необходимые механизмы защиты. Они позволяют обеспечить безопасный доступ к данным на сервере, предоставляя защиту 
    от таких видов потенциальных угроз как: 
    <ul>
      <li>SQL-инъекции,</li> 
      <li>"cross-site reference forgery (CSRF)",</li>
      <li>"session hijacking" и "session fixation",</li>
      <li>распознавание вводимого пароля и чтение его в исходных базах,</li>
      <li>доступ к данным другого пользователя</li>
    </ul>
    за счёт таких мер защиты, как: 
    <ul>
      <li>фильтрация текстов паролей в лог-файлах приложения,</li>
      <li>хранение паролей в информационных таблица в видоизменённой форме,</li>
      <li>дополнительные требования к длине парольного слова,</li>
      <li>прекращение сессии связи с сервером при длительном отсутствии активности,</li>
      <li>использование токенов авторизации и безопасных SSL-протоколов (особенно важно при работе в безпроводных сетях),</li>
      <li>подтверждение восстановления утерянного пароля через надёжный электронный адрес,</li>
      <li>маскирующие символы при вводе в парольное поле,</li>
      <li>требования подтвердить текущий пароль при смене его на новый</li>
    </ul>
    <a name="R3"></a>
    и ряд других мер. Все необходимые механизмы защиты задействованы в нашем проекте.</br> 

<%= link_to " (В начало страницы)", "#BeginOfPage"  %>
    <h3  style="line-height: 1.5em; color: darkcyan;">3. Как происходит работа пользователя?(Обзор)</h3>
    Чтобы начать работу c онлайн сервисом, нужно завести в нём свою учётную запись посредством процедуры 
    <%= link_to "Регистрации", new_user_registration_path%>. Вы указываете произвольное имя своей записи, обязательно 
    действующий адрес электронной почты и пароль, известный только Вам. В последующих сеансах работы Вы подключаетесь к сервису посредством 
    процедуры <%= link_to "Войти", new_user_session_path %>. После проверки Ваших имени (или адреса электронной почты) и пароля, 
    которые Вы указали при регистрации, система авторизует Вас в случае установления соответствия между ними и данными в базе данных. 
    Так система узнаёт, что все действия в ней будут выполняться именно Вами и предоставит для работы только Ваши данные. 
    Между процедурами <em>Регистрации</em> и <em>Входа</em> имеется характерное отличие. Во время <em>Регистрации</em> создаётся учётная запись, 
    затем с её применением автоматически происходит процедура <em>Входа</em>. Во время выполнения же процедуры <em>Входа</em> 
    запись о пользователе не создаётся, а используется та, которая будет найдена по указанному имени (или адресу электронной почты) и паролю. 
    При этом, если учётная запись для указанного пользователя не найдена или для найденного пользователя указан неверный пароль, то в выполнении 
    процедуры авторизации будет отказано, о чём выдаётся информационное сообщение и пользователю предоставляется возможность повторить попытку ещё раз. 
    Учётные данные пользователя можно изменить, вплоть до имени и пароля, но при этом требуется указать текущий действующий пока неизменённый пароль. 
</br>
    После успешного входа на сайт под своим именем пользователю открывается <em>Панель Управления</em>, с которой он может активизировать все остальные
    режимы своей работы в системе. В частности, работать со списком предприятий и вводить для них исходные для анализа данные. Информационной основой
    для проведения анализа являются данные форм бухгалтерской отчётности. В перечне предприятий нажимаете в нужной строке командную кнопку <em>Подробно</em> и 
    выбираете необходимый режим работы. А именно, Вам следует ввести соответствующие суммы в графы по строкам форм за период, который
    Вы будете анализировать с учётом периодичности их составления (по-месячно, по-квартально). Затем, выставив в настройках желаемый период для анализа, 
    запускаете процедуру <em>Анализ</em>. В результате расчитываются все необходимые показатели и формируются данные для построения трендов. 
    Режим <em>Результаты</em> производит визуализацию результатов анализа. По мере накопления данных форм отчётов, Вы можете расширять рабочий интервал дат, 
    тем самым Вам станут доступны более широкие временн<em>ы</em>е интервалы для отслеживания тенденций и их взаимосвязей. 
</br>
<a name="R4"></a>
<%= link_to " (В начало страницы)", "#BeginOfPage"  %>
    <h3  style="line-height: 1.5em; color: darkcyan;">4. Как снять ограничение на 15-дневный срок доступа?</h3>
</br>
    
<%= link_to " (В начало страницы)", "#BeginOfPage"  %>
  </div>
<% end %>