<% provide(:title, 'О проекте') %>

<%= render 'navbar4about'%>

<% content_for :span9 do %>
  <a name="BeginOfPage"></a>
  <legend><%= image_tag("InfoBox-64.png")%> О Проекте</legend>
  <div style="text-align: justify; 
       border: solid darkgray ; 
       border-left: double; 
       color: black; 
       background-color:#f2eeee;
       line-height: 1.3em; font-size: 10pt; padding: 5pt ">
     <a name="R1"></a>
    <h3  style="line-height: 1.5em; color: darkcyan;">1. Для кого предназначен проект ?</h3>
     Возможности нашего сервиса оценят:
          <ul >
            <li><strong>Специалисты аналитических групп планово-экономических отделов(управлений) предприятий.</strong> Вы сможете подготовить для рассмотрения 
              руководству объективную картину финансово-экономического состояния предприятия хорошо структурированным набором числовых таблиц, текстовых заключений и
              элементов деловой графики. Всё это также - незаменимый материал при подготовке бизнес-планов.</li>
            <li><strong>Владельцы бизнеса, инвесторы, кредитодатели.</strong> Вы получите объективную комплексную оценку финансового состояния предприятия, что позволит 
              Вам извлечь максимальную выгоду при принятии необходимых управленческих и инвестиционных решений, а банкам - снизить операционные риски при оказании кредитных услуг данному предприятию.</li> 
            <li><strong>Независимые аудиторы, бухгалтеры и финансовые аналитики.</strong> Вы также сумеете получить максимум пользы от работы с нашим сервисом. 
              Одной из его ключевых особенностей является то, что при необходимости <strong><em>под одним аккаунтом можно вести информационную 
              базу для неограниченного количества предприятий/организаций</em></strong>.</li> 
          </ul>
    <a name="R2"></a>
    
    <h3  style="line-height: 1.5em; color: darkcyan;">2. Как происходит работа пользователя?(Обзор)</h3>
    Работа с сервисом включает в себя ряд последовательных этапов: 
    <ul>
      <li>На самом первом этапе следует завести свою учётную запись посредством процедуры <%= link_to "Регистрации", new_user_registration_path%>. 
        Вы указываете произвольное имя своей записи, обязательно действующий адрес электронной почты и пароль, известный только Вам. 
      </li>
      <li>
        В последующих сеансах работы Вы подключаетесь к сервису посредством  процедуры <%= link_to "Войти", new_user_session_path %>. 
        При этом Ваши имя (или адрес электронной почты) и пароль должны соответствовать ранее введённым. В случае совпадения происходит Ваша авторизация в системе. 
        Все действия в ней будут выполняться от Вашего имени и только с Вашими данными. 
        Ваши Учётные данные Вы можете изменить, вплоть до имени и пароля, но при этом потребуется указать текущий действующий пока неизменённый пароль. 
      </li>
      <li>
        После успешного входа на сайт под своим именем, пользователю открывается <em>Панель Управления</em>, с которой он может активизировать все остальные
        режимы системы. В частности, работать со списком предприятий и вводить для них исходные для анализа данные.</li> 
      <li>
        Информационной основой
        для проведения анализа являются <strong>данные форм бухгалтерской отчётности</strong> предприятия. В перечне организаций нажимаете в нужной 
        строке командную кнопку <em>Подробно</em> и выбираете необходимый режим работы. А именно, Вам следует ввести соответствующие суммы по 
        строкам форм за период, который Вы будете анализировать с учётом периодичности их составления (по-месячно, по-квартально). 
      </li>
      <li>
        Выставив в настройках желаемый период для анализа, запускаете процедуру <em>Анализ</em> в <em>Панели Управления</em>. В результате расчитываются все необходимые 
        показатели и формируются данные для построения трендов.</li> 
      <li>Режим <em>Результаты</em> производит визуализацию результатов анализа. 
        По мере накопления данных форм отчётов, Вы можете расширять рабочий интервал дат, 
        тем самым Вам станут доступны более широкие временн<em>ы</em>е интервалы для отслеживания тенденций и их взаимосвязей. 
      </li>
    </ul>      
    
    <a name="R3"></a>
   <%= link_to " (В начало страницы)", "#BeginOfPage"  %>
 <h3  style="line-height: 1.5em; color: darkcyan;">3. Как снять ограничение на 15-дневный срок доступа?</h3>
    <ul>
      <li>
        Пользователи, прошедшие бесплатную регистрацию, по истечению ознакомительного срока её использования не смогут больше получать доступ к 
        списку предприятий в <em>Панели Управления</em>. 
      </li>
      <li>
        Для продолжения работы необходимо обратиться к <%= link_to "разработчикам системы для заключения договора", contact_path%>, 
        выбрать желаемый срок использования системы и оплатить соответствующий ему тариф.        
      </li>
      <li>
        По мере завершения очередного срока использования, Вы можете выполнять оплату на любой 
        последующий период, получив дальнейшее продления срока активности вашей учётной записи.
      </li>
      <li>
        На странице <em>Панели Управления</em> имеется соответствующий индикатор текущего состояния Вашего аккаунта.
      </li> 
      <li>  
        В случае неоплаты услуги по доступу к учётной записи в течении срока более чем 1-го месяца, Ваш аккаунт 
        будет сначала деактивирован, затем удалён вместе с введёнными ранее данными, а освободившееся табличное пространство будет занято данными других 
        пользователей.
      </li>
    </ul>    
    <%= link_to " (В начало страницы)", "#BeginOfPage"  %>
    
    <a name="R5"></a>
    
    <h3  style="line-height: 1.5em; color: darkcyan;">4. Что необходимо для работы? (техническая часть)</h3>
    Для работы с нашим сервисом необходимо:
    <ul>
      <li>
        Постоянное соединение с Интернетом и любое устройство (<em>настольный ПК (PC или Mac), ноутбук, планшетный PC и т.д. и т.п.</em>), поддерживающее работу с
        интернет-браузером. При этом Вы не ограничиваетесь в выборе операционной системы (<em>Win/Linux/Mac</em>), но избавляетесь 
        от необходимости выбора каких-либо дополнительных программ и поиска дискового пространства для Ваших данных. Вся введённая 
        информация хранится в промышленной базе данных на Web-сервере вместе с программной частью системы.
      </li>
      <li>Наши тесты показали показали, что наиболее качественно (<em>т.е. "как и задумывалось"</em>) веб-страницы системы отображаются в браузерах
        <strong>FireFox, Chrome, Opera, Safari</strong> (для пользователей Mac OS). Использование браузера <strong>Internet Explorer</strong> 
        также допустимо, но только как можно более новых версий. Это связано с необходимостью поддержки новых стандартов разметки и оформления 
        страниц <strong>HTML 5</strong> и <strong>CSS 3</strong>.  В противном случае, вы столкнётесь c искажением шрифтов, размеров текста, 
        формы командных кнопок и цвета графических элементов диаграмм, а внутри текстовых полей не выводятся подсказки (т.н. place-holders), как, например,
        это сделано для поля <em>Контактная информация</em> пользователя. 
      </li>
      <li>Для работы программного кода на стороне клиента и поддержки механизма сессий необходимо, чтобы в браузере были включены <strong>JavaScript</strong> и 
        <strong>cookie</strong>. В разных браузерах это делается по-разному. Иногда эти опции уже включены по умолчанию. Но, в целом, суть этой процедуры одна и та же. 
        Вы выполняете это в настройках браузера, и оно начинает работать.
        <ul>
          <li><strong>Firefox</strong>:  В  меню  выберите:  <em>Инструменты  >  Настройки…  >  закладки «Содержимое» и «Приватность».</em></li>
          <li><strong>Google  Chrome</strong>:  В  меню  выберите:  <em>Параметры  >  закладка «Расширенные» > кнопка «Настройки содержания…»</em></li>
          <li><strong>Internet Explorer</strong>:   В меню выберите: <em>Сервис > Свойства обозревателя > закладки «Конфиденциальность» и «Безопасность».</em></li> 
          <li><strong>Safari</strong>: В меню выберите: <em>Настройки  > Безопасность.</em></li> 
        </ul>
      </li>
    </ul>
     Если Вы испытываете трудности при выполнении или проверке этих настроек на своём компьютере, обратитесь за помощью к Вашему системному администратору.</br>
    <%= link_to " (В начало страницы)", "#BeginOfPage"  %>
   
    <h3  style="line-height: 1.5em; color: darkcyan;">5. Почему работать с системой безопасно?</h3>
    Решение вопросов безопасности основывается на применяемой в процессе разработки архитектуре Web-приложений, в основу которой уже 
    заложены необходимые механизмы защиты. Они позволяют обеспечить безопасный доступ к данным на сервере, предоставляя защиту 
    от таких видов потенциальных угроз как: 
    <ul>
      <li>SQL-инъекции,</li> 
      <li>"cross-site reference forgery (CSRF)",</li>
      <li>"session hijacking" и "session fixation",</li>
      <li>распознавание вводимого пароля и чтение его в исходных базах,</li>
      <li>доступ к данным другого пользователя.</li>
    </ul>
    за счёт таких мер защиты, как: 
    <ul>
      <li>фильтрация текстов паролей в лог-файлах приложения,</li>
      <li>хранение паролей в информационных таблица в видоизменённой форме,</li>
      <li>дополнительные требования к длине парольного слова,</li>
      <li>прекращение сессии связи с сервером при длительном отсутствии активности,</li>
      <li>использование токенов авторизации и безопасных SSL-протоколов (особенно важно при работе в безпроводных сетях),</li>
      <li>подтверждение восстановления утерянного пароля через надёжный электронный адрес,</li>
      <li>маскирующие символы при вводе в парольное поле,</li>
      <li>требования подтвердить текущий пароль при смене его на новый,</li>
      <li>очистка полей, вводимых пользователем, от потенциально опасных скриптовых конструкций.</li>
    </ul>
 <a name="R4"></a>
    и ряд других мер. Все необходимые механизмы защиты задействованы в нашем проекте.</br> 

    <%= link_to " (В начало страницы)", "#BeginOfPage"  %>
  
  </div>
<% end %>