<% provide(:title, 'Контакты') %>
<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">КОНТАКТЫ</li>  
      <li><%= link_to "На главную страницу", root_path %></li>
    </ul>  
  </div>  
<% end %>

<% content_for :span9 do %>
  
  <div class="well sidebar-nav"style="text-align: justify; 
             border: solid darkgray ; 
             color: black; padding: 5pt ">
    
    <legend><%= image_tag("Contacts-Book-64.png")%><strong>Наши Контакты</strong></legend>             
    <table class="table table-striped table-bordered table-condensed">
      <caption><strong>Вы можете связаться с нами любым удобным Вам способом!</strong></caption>
          <tbody>
            <tr>
              <td><div class="pull-right">По телефону :</div></td>
              <td><div class="pagination-centered"><%=image_tag "kcall.png"%></div></td>
              <td><div class="pull-left">Velcom +375(29)-XXX-XX-XX</div></td>              
            </tr>
             <tr>
              <td><div class="pull-right">Skype :</div></td>
              <td><div class="pagination-centered"><%=image_tag "Skype-32.png"%></div></td>
              <td><div class="pull-left">XXXXXXXX</div></td>              
            </tr>
            <%#*<tr>%>
              <%#*<td>%>
                <%#*<div class="pull-left">ICQ :</div>%>
              <%#*</td>%>
              <%#*<td>%>
                <%#*<div class="pagination-centered">%>
                        <%#=image_tag "ICQ-32.png"%>
                <%#*</div>%>
              <%#*</td>%>
              <%#*<td>%>
                <%#*<div class="pull-left">%>
                  <%#*XXXXXXXXX%>
                <%#*</div>%>
              <%#*</td>%>              
            <%#*</tr>%>          
            <tr>
              <td><div class="pull-right">E-mail :</div></td>
              <td><div class="pagination-centered"><%=image_tag "contact_email.png"%></div></td>
              <td><div class="pull-left">@@@@@@@@@@</div></td>             
            </tr>
            <tr>
              <td><div class="pull-right">Адрес для почтовых отправлений :</div></td>
              <td><div class="pagination-centered"><%=image_tag "mail.png"%></div></td>
              <td><div>Республика Беларусь, Минский р-н, Боровлянский с-т..., ул.выаыаываыв, д.аыа</div></td>              
            </tr>
            <tr>
              <td><div class="pull-right">Разработка и техническое сопровождение :</div></td>
              <td><div class="pagination-centered"><%=image_tag "software.png"%></div></td>
              <td><div>Свидетельство Государственной регистрации № ХХХХХХХХХХХХ от ХХХХХХХХХХХХХ,</br> выдано йцуйуйуйюйуй.й.уй</div></td>              
            </tr>
          </tbody>    
        </table>    
    <hr>
        <table class="table table-striped table-bordered table-condensed">
          
          <caption>Перечень тарифов и расценок на услугу (в белорусских рублях)</br>
               <strong>Подключение к Автоматизированной Системе "On-line Финансовый Анализ"</strong></caption>
          <tbody>
            <tr>
              <td><div class="pull-right"><strong>Тарифный план</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important">Начальный  </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >Квартальный</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >Полугодовой</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >Годовой    </span></div></td>        
            </tr>
             <tr>
              <td><div class="pull-right"><strong>Срок действия</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important">1 месяц   </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >3 месяца  </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >6 месяцев </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >12 месяцев</span></div></td>        
            </tr>
            <tr>
              <td><div class="pull-right"><strong>Сумма к оплате</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important"> 990 000 </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >2 800 000</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >5 300 000</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >9 500 000</span></div></td>                
            </tr>          
            <tr>
              <td><div class="pull-right"><strong>Скидка</strong></div></td>
              <td><div class="pagination-centered"><span class="badge badge-important"> 0 % </span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-warning"  >5 %</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-success"  >10 %</span></div></td>
              <td><div class="pagination-centered"><span class="badge badge-info"     >20 %</span></div></td>     
            </tr>
            <tr>
              <td colspan="5"><div style="text-align: justify;"><em>В состав услуги включаются работы по консультированию пользователей 
                    в процессе освоения и использования ими сервиса, его технической поддержке и сопровождению (развитию) программного кода. </em></div></td>
            </tr>
          </tbody>    
        </table>    
       Обращаем Ваше внимание, что наш проект взаимодействует с российской системой управления обратной связью с пользователями <%=link_to "Reformal.ru", "http://www.reformal.ru" %>. 
       Для этого в систему встроен виджет <strong>"Отзывы и предложения"</strong>. Выполнив щелчок мыши по нему, открывается форма, с помощью которой Вы можете составить 
       отзыв о нашей работе, сообщить о проблемах, задать вопрос, предложить идею. Всё ваши записи будут видны другим пользователям, равно как и им Ваши.
       Тексты Ваших сообщений модерируются, поэтому будем рады аргументированным высказываниям.
       </br></br>
       <strong>Ссылка для скачивания договора:</strong> <%= link_to image_tag("ext_word.png"), "#" %>
       </br>
       <strong>Ссылка для скачивания акта выполненных работ:</strong> <%= link_to image_tag("ext_word.png"), "#" %>
  </div>
<% end %>
<script type="text/javascript">
    var reformalOptions = {
        project_id: 71206,
        project_host: "ofina.reformal.ru",
        tab_orientation: "right",
        tab_indent: "50%",
        tab_bg_color: "#0e805c",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/a08a7c60392f68cb33f77d4f56cf8c6f/right/1/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>
<noscript>
<a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" />
</a>
<a href="http://ofina.reformal.ru">Oтзывы и предложения для АС On-Line Финансовый Анализ
</a>
</noscript>