<% provide(:title, 'Глоссарий') %>

<%= render 'navbar4help' %>

<% content_for :span9 do %> 
  <a name="BegOfPage"></a> 
  <legend><%= image_tag("books 64.png") %> Показатели финансовой устойчивости</legend>
  <dl> 
    <dt> 1. Коэффициент автономии (финансовой независимости) <%= link_to "(см. сноску 1)", "#EndOfPage" %> </dt>
    <dd style="text-align: justify;"> Определяет отношение величины собственного капитала организации к общей сумме средств организации. 
         Данный показатель определяет долю активов организации, которые покрываются за счет собственного капитала 
         (обеспечиваются собственными источниками формирования). Оставшаяся доля активов покрывается за счет заемных средств. 
         Рост показателя чаще всего свидетельствует о положительной тенденции. Чем выше значение коэффициента, 
         тем более организация финансово устойчива. Однако в то же время рост данного показателя в динамике может характеризовать 
         организацию и с негативной стороны, а именно как увеличение недоверия к субъекту хозяйствования со стороны кредиторов. 
         Это может негативно сказаться на масштабе хозяйственной деятельности организации и сокращении деловой активности.
         Рассчитывается как отношение итога раздела III бухгалтерского баланса (строка 490) 
         к итогу бухгалтерского баланса (строка 700). Значение коэффициента финансовой независимости должно быть не менее 0,4 - 0,6.
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент автономии.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 2. Коэффициент концентрации заемного капитала (финансовой зависимости)</dt>
    <dd style="text-align: justify;">Характеризует долю заемных средств в общей сумме средств организации. Этот показатель является дополнением к коэффициенту финансовой 
        независимости, одновременно отражая финансовую зависимость организации. Рост коэффициента означает увеличение доли заемных средств в 
        финансировании организации, снижение финансовой устойчивости и увеличение зависимости от внешних кредиторов. 
        Однако рост данного показателя может характеризовать организацию с наилучшей стороны, а именно увеличение доверия кредиторов к субъекту 
        хозяйствования и как итог – рост деловой активности. Значение коэффициента финансовой зависимости должно быть не более 0,4 - 0,6.
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент концентрации привлеченного капитала.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 3. Коэффициент долгосрочной финансовой независимости</dt>
    <dd style="text-align: justify;">Показывает, какая часть общей стоимости активов организации сформирована за счет долгосрочных источников финансирования, 
        т.е. не зависит от краткосрочных заемных средств. Если в составе пассивов организации есть долгосрочные обязательства, целесообразно 
        вместо коэффициентов автономии использовать коэффициент долгосрочной финансовой независимости. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент долгосрочной финансовой независимости.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 4. Коэффициент капитализации (Коэффициент соотношения заемных и собственных средств) <%= link_to "(см. сноску 1)", "#EndOfPage" %></dt>
    <dd style="text-align: justify;">Дает наиболее общую оценку финансовой устойчивости организации. Характеризует величину заемных источников финансирования активов, 
        приходящихся на каждый рубль собственных источников, вложенных в активы организации. Рост показателя за отчетный год свидетельствует 
        об усилении зависимости организации от привлеченного капитала, т.е. о тенденции снижения финансовой устойчивости, и наоборот.
        Рассчитывается как отношение суммы итогов разделов IV и V бухгалтерского баланса (строка 590 и строка 690) 
        к итогу раздела III бухгалтерского баланса (строка 490). Значение коэффициента капитализации должно быть не более 1,0. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент соотношения заемных и собственных средств.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 5. Коэффициент маневренности собственного капитала</dt>
    <dd style="text-align: justify;">Характеризует часть собственного капитала, используемую для финансирования текущей деятельности, т.е. вложенную в краткосрочные активы. 
        Оставшаяся часть отражает величину капитализированных средств. Оптимальной является величина коэффициента маневренности, большая или равная 0,5. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент маневренности собственного капитала.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
  </dl>
  <%= link_to "К началу страницы", "#BegOfPage" %>
  <legend><%= image_tag("books 64.png") %> Показатели ликвидности и платежеспособности</legend> 
  <dl> 
    <dt> 1. Коэффициент текущей ликвидности <%= link_to "(см. сноску 1)", "#EndOfPage" %> </dt>
    <dd style="text-align: justify;">Этот коэффициент показывает платежные возможности организации, оцениваемые при условии не только своевременных расчетов с дебиторами и 
        благоприятной продажи готовой продукции, но и продажи в случае нужды прочих элементов материальных оборотных средств. Рассчитывается 
        как отношение итога раздела II бухгалтерского баланса к итогу раздела V бухгалтерского баланса. Критическое значение данного показателя варьируется в зависимости от отраслевой принадлежности
        коммерческой организации и определяется по Постановлению Совета Министров Республики Беларусь от 12 декабря 2011 г. N 1672 
        "Об определении критериев оценки платежеспособности субъектов хозяйствования".
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент текущей ликвидности.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 2. Коэффициент абсолютной ликвидности <%= link_to "(см. сноску 1)", "#EndOfPage" %></dt>
    <dd style="text-align: justify;">Показывает, какая часть краткосрочных обязательств может 6ыть при необходимости погашена немедленно за счет имеющихся денежных средств 
        и краткосрочных финансовых вложений. Рассчитывается как отношение суммы краткосрочных финансовых вложений и денежных средств и их эквивалентов 
        к краткосрочным обязательствам. Значение коэффициента абсолютной ликвидности должно быть не менее 0,2. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент абсолютной ликвидности.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 3. Коэффициент критической (промежуточной) ликвидности</dt>
    <dd style="text-align: justify;">Показывает, какую часть текущей задолженности предприятие может покрыть в ближайшей перспективе при условии полного погашения дебиторской 
        задолженности. Критическое значение >= 1 означает, что денежные средства и предстоящие поступления от текущей деятельности должны покрывать 
        текущие долги. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент критической (промежуточной) ликвидности.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 4. Коэффициент обеспеченности собственными оборотными средствами <%= link_to "(см. сноску 1)", "#EndOfPage" %></dt>
    <dd style="text-align: justify;">Характеризует наличие у организации собственных оборотных средств, необходимых для ее финансовой устойчивости. Определяется как отношение суммы 
        собственного капитала и долгосрочных обязательств за вычетом стоимости долгосрочных активов к стоимости краткосрочных активов. 
        Рассчитывается как отношение суммы итога раздела III бухгалтерского баланса и итога IV бухгалтерского баланса за вычетом итога раздела I 
        бухгалтерского баланса к итогу раздела II бухгалтерского баланса. Критическое значение данного показателя варьируется в зависимости от отраслевой принадлежности
        коммерческой организации и определяется по Постановлению Совета Министров Республики Беларусь от 12 декабря 2011 г. N 1672 
        "Об определении критериев оценки платежеспособности субъектов хозяйствования".
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент обеспеченности собственными оборотными средствами.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 5. Коэффициент обеспеченности финансовых обязательств активами <%= link_to "(см. сноску 1)", "#EndOfPage" %></dt>
    <dd style="text-align: justify;">Характеризует способность организации рассчитаться по своим финансовым обязательствам после реализации активов. Определяется как отношение 
        долгосрочных и краткосрочных обязательств субъекта хозяйствования к общей стоимости активов. Рассчитывается как отношение суммы итогов разделов IV и V 
        бухгалтерского баланса к итогу бухгалтерского баланса.
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент обеспеченности финансовых обязательств активами.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
  </dl>
  <%= link_to "К началу страницы", "#BegOfPage" %>  
  <legend><%= image_tag("books 64.png") %> Показатели деловой активности</legend>
  <dl> 
    <dt> 1. Коэффициент оборачиваемости активов (Коэффициент деловой активности) <%= link_to "(см. сноску 1)", "#EndOfPage" %></dt>
    <dd style="text-align: justify;">Показывает, сколько раз обернулись активы, какой доход получен с рубля активов. Деловая активность резко увеличивается 
        при росте количества продаж или сокращении стоимости активов. Уменьшение деловой активности происходит при значительном 
        вводе в эксплуатацию новых основных средств или при неадекватной переоценке стоимости имущества во время инфляции. Рассчитывается 
        как отношение выручки от реализации продукции, товаров, работ, услуг (строка 010 отчета о прибылях и убытках) к средней стоимости 
        активов субъекта хозяйствования (строка 300 бухгалтерского баланса, сумма граф 3 и 4, деленная на 2).
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент общей оборачиваемости капитала.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 2. Коэффициент оборачиваемости краткосрочных активов</dt>
    <dd style="text-align: justify;">Показывает, сколько раз обернулись краткосрочные активы. Рост этого показателя характеризуется положительно, если сочетается с 
        ростом коэффициентов оборачиваемости запаса сырья, материалов и полуфабрикатов, готовой продукции, дебиторской задолженности, и 
        отрицательно, если последние уменьшаются. Рассчитывается как отношение выручки от реализации продукции, 
        товаров, работ, услуг (строка 010 отчета о прибылях и убытках) к средней стоимости краткосрочных активов субъекта хозяйствования 
        (строка 290 бухгалтерского баланса, сумма граф 3 и 4, деленная на 2).
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент оборачиваемости краткосрочных активов.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 3. Коэффициент оборачиваемости запаса сырья, материалов и полуфабрикатов</dt>
    <dd style="text-align: justify;">Отражает число оборотов запасов сырья, материалов и полуфабрикатов организации за анализируемый период. 
        Рост данного показателя характеризует увеличение использования производственных ресурсов для производства продукции. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент оборачиваемости запаса сырья, материалов и полуфабрикатов.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 4. Коэффициент оборачиваемости готовой продукции</dt>
    <dd style="text-align: justify;">Отражает число оборотов готовой продукции организации за анализируемый период. 
        Рост данного показателя характеризует увеличение реализации готовой продукции в отчетном периоде. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент оборачиваемости готовой продукции.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 5. Коэффициент оборачиваемости дебиторской задолженности</dt>
    <dd style="text-align: justify;">Показывает расширение или снижение коммерческого кредита, предоставляемого организацией. 
        Если коэффициент рассчитывается по выручке от реализации, формируемой по мере оплаты счетов, его рост означает сокращение продаж в кредит. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент оборачиваемости дебиторской задолженности.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 6. Коэффициент оборачиваемости кредиторской задолженности</dt>
    <dd style="text-align: justify;">Показывает увеличение или снижение коммерческого кредита, предоставляемого организации. 
        Рост его означает увеличение скорости оплаты задолженности организации, снижение – рост покупок в кредит. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Коэффициент оборачиваемости кредиторской задолженности.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
  </dl>
  <%= link_to "К началу страницы", "#BegOfPage" %>
  <legend><%= image_tag("books 64.png") %> Показатели рентабельности </legend>
  <dl> 
    <dt> 1. Рентабельность продаж</dt>
    <dd style="text-align: justify;">Демонстрирует, какова доля прибыли от реализации товаров, продукции, работ, услуг в выручке от реализации товаров, продукции, работ, услуг. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность продаж.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 2. Рентабельность активов</dt>
    <dd style="text-align: justify;">Характеризует эффективность, приносимую всеми без исключения средствами организации независимо от их вида или источника формирования; 
        служит для оценки эффективности бизнеса в целом. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность активов.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 3. Рентабельность собственного капитала</dt>
    <dd style="text-align: justify;">Характеризует эффективность вложений собственников коммерческой организации. 
        На основе этого показателя собственник активов может выбрать место их вложения. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность собственного капитала.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>    
    <dt> 4. Рентабельность производственных затрат, составляющих себестоимость продукции, работ, услуг</dt>
    <dd style="text-align: justify;">Экономическое содержание данного показателя рентабельности заключается в оценке эффективности производственных затрат. 
        Если данный показатель больше нуля, это свидетельствует о том, что полученной выручки от реализации продукции, работ, 
        услуг достаточно для покрытия себестоимости реализованной продукции, работ, услуг, что, в свою очередь, свидетельствует об 
        эффективности производства продукции. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность производственных затрат, составляющих себестоимость продукции, работ, услуг.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 5. Рентабельность полной себестоимости реализованной продукции, работ, услуг</dt>
    <dd style="text-align: justify;">Этот показатель демонстрирует, сколько прибыли принесли организации расходы, связанные с процессом производства и продажи продукции, 
        товаров, работ, услуг. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность полной себестоимости реализованной продукции, работ, услуг.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 6. Рентабельность общих расходов коммерческой организации</dt>
    <dd style="text-align: justify;">Данный показатель демонстрирует эффективность всех понесенных за отчетный период расходов коммерческой организации, 
        которые согласно методологии бухучета рассматриваются как формирующие финансовый результат отчетного периода. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность общих расходов коммерческой организации.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
    <dt> 7. Рентабельность расходов, обусловивших получение чистой прибыли коммерческой организации</dt>
    <dd style="text-align: justify;">Оценивает эффективность расходов, обусловивших получение чистой прибыли (чистого убытка) в отчетном периоде. 
    </dd>
    <table class="table">
      <tbody>
        <tr>
          <td><div class="pagination-centered"></div></td>          
          <td><div class="pagination-centered"><%= image_tag("Рентабельность расходов, обусловивших получение чистой прибыли коммерческой организации.png") %></div></td>          
          <td><div class="pagination-centered"></div></td>          
        </tr>          
      </tbody>    
    </table>
  </dl>
  <a name="EndOfPage"></a> 
  <%= link_to "К началу страницы", "#BegOfPage" %>
  <hr>
  <div style="text-align: justify; 
       border: solid darkgray ; 
       border-left: double; 
       color: black; 
       background-color:#f2eeee;
       line-height: 1.3em; font-size: 10pt; padding: 5pt ">
  
    <strong><sup>1</sup></strong>Данный показатель рассчитывается согласно Постановлению Министерства финансов Республики Беларусь и Министерства экономики Республики Беларусь от 27 декабря 2011 г. N 140/206 
  "ОБ УТВЕРЖДЕНИИ ИНСТРУКЦИИ О ПОРЯДКЕ РАСЧЕТА КОЭФФИЦИЕНТОВ ПЛАТЕЖЕСПОСОБНОСТИ И ПРОВЕДЕНИЯ АНАЛИЗА ФИНАНСОВОГО СОСТОЯНИЯ И ПЛАТЕЖЕСПОСОБНОСТИ 
  СУБЪЕКТОВ ХОЗЯЙСТВОВАНИЯ"   
  </div>
<% end %>
