<%  provide(:title, 'Главная')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Операции</li>  
      <li><%= link_to "Список Организаций", enterprises_path%></li>  
      <li><%= link_to "Управление аккаунтом", "#"%></li>
      <li class="divider"></li>
      <li><%= link_to "Сервис Базы Данных", "#"%></li>  
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<legend><%= image_tag("Home 64.png") %> Текущая статистика Базы Данных</legend>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <td><div class="pull-left"><strong>Количество организаций:</strong></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @enterprise_count %></span></div></td>        
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><strong>Всего отчётов за <%= @current_year %> год: </strong></div></td>        
      </tr>
        <td><div class="pull-left"><em>   - ОТЧЁТ "БУХГАЛТЕРСКИЙ БАЛАНС"</em></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_one_reports_count %></span></div></td>
      </tr>
      <tr>
        <td><div class="pull-left"><em>   - ОТЧЁТ "О ПРИБЫЛЯХ И УБЫТКАХ"</em></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_two_reports_count %></span></div></td>
      </tr>
      <tr>
        <td><div class="pull-left"><em>   - ОТЧЁТ "ОБ ИЗМЕНЕНИИ КАПИТАЛА"</em></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_three_reports_count %></span></div></td>
      </tr>
      <tr>
        <td><div class="pull-left"><em>   - ОТЧЁТ "О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ"</em></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_four_reports_count %></span></div></td>
      </tr>      
      <tr>
        <td><div class="pull-left"><strong>Записей в журнале ошибок:</strong></div></td>
        <td>
          <div class="pagination-centered">
            <% if false %>
                <span class="badge badge-success"><%= 0 %></span>
            <% else %>    
                <span class="badge badge-important"><%= 5 %></span>
            <% end %>  
            </div>
        </td>
      </tr>
      <tr>
        <td><div class="pull-left"><strong>Дата предыдущего входа в систему:</strong></div></td>
        <td><div class="pagination-centered"><span class="badge badge-success"><%= @last_sign_in_at %></span></div></td>        
      </tr>
    </tbody>    
  </table>
<% end  %>

<% content_for :guest_area do %>
  <div class="hero-unit">
    <p>Вы у нас в гостях,и мы рады предложить вниманию профессионалов новые возможности, которые предоставляет наш проект! 
      С его помощью Вы сможете быстро и качественно решать следующие задачи:</p>
  </div>
  <div class="center"> 
    <%= link_to "Регистрация...", new_user_registration_path , class: "btn btn-large btn-primary" %> 
  </div>
  <% end  %>