<%  provide(:title, 'Главная')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">Операции</li>  
      <li><%= link_to "Список Организаций", enterprises_path%></li>  
      <li><%= link_to "Свойства Учётной Записи", user_path%></li>
      <li class="divider"></li>      
      <%#*<li>%>
         <%#= link_to "Сервис Базы Данных", "#"%>
      <%#*</li>%>  
      <li><%= link_to "Выйти из системы", destroy_user_session_path, method: "delete" %></li>
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<div class="well sidebar-nav shadow" style="padding: 1em;">
  <legend><%= image_tag("connect_to_network-64.png") %> Здравствуйте,  <strong><%= current_user.try(:username) %></strong></legend>
  <h2>Статистика Вашего табличного пространства:</h2>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <td><div class="pull-left"><strong>Количество организаций:</strong></div></td>
        <td><div class="pagination-centered"><span class="badge badge-info"><%= @enterprise_count %></span></div></td>        
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><strong>Всего отчётов за <%= @current_year %> год: </strong></div></td>        
      </tr>
    <td><div class="pull-left"><em>   - ОТЧЁТ "БУХГАЛТЕРСКИЙ БАЛАНС"</em></div></td>
    <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_one_reports_count %></span></div></td>
  </tr>
  <tr>
    <td><div class="pull-left"><em>   - ОТЧЁТ "О ПРИБЫЛЯХ И УБЫТКАХ"</em></div></td>
    <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_two_reports_count %></span></div></td>
  </tr>
  <tr>
    <td><div class="pull-left"><em>   - ОТЧЁТ "ОБ ИЗМЕНЕНИИ КАПИТАЛА"</em></div></td>
    <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_three_reports_count %></span></div></td>
  </tr>
  <tr>
    <td><div class="pull-left"><em>   - ОТЧЁТ "О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ"</em></div></td>
    <td><div class="pagination-centered"><span class="badge badge-info"><%= @form_four_reports_count %></span></div></td>
  </tr>      
  <%#*<tr>%>
  <%#*<td><div class="pull-left"><strong>Записей в журнале ошибок:</strong></div></td>%>
  <%#*<td>%>
  <%#*<div class="pagination-centered">%>
  <%# if false %>
  <%#*<span class="badge badge-success"><%= 0 %>
  <%#*</span>%>
  <%# else %>    
  <%#*<span class="badge badge-important"><%= 5 %>
  <%#*</span>%>
  <%# end %>  
  <%#*</div>%>
  <%#*</td>%>
  <%#*</tr>%>
  <tr>
    <td><div class="pull-left"><strong>Дата предыдущего входа в систему:</strong></div></td>
    <td><div class="pagination-centered"><span class="badge badge-success"><%= @last_sign_in_at %></span></div></td>        
  </tr>
  </tbody>    
  </table>
</div>  
<% end  %>

<% content_for :guest_area do %>
  <div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="leaderboard">  
     <div class="row">
      <div class="span12 box" style="width: 920px">
        <div style="text-align: center; margin-bottom: -5pt; margin-top: -15pt; margin-left: 20pt">
          <%= image_tag("Red-pin-32.png")%>          
        </div> 
        <div class="span2">
          <%= image_tag("Column Chart 256.png")%>
        </div> 
        <div class="span8">
          <h1>
            Автоматизированная Система </br>"On-Line Финансовый Анализ"
          </h1>
          <div class="span8" style="margin-top: 10pt; margin-bottom: 5pt ; margin-left: 95pt">
            <%= link_to "Бесплатная регистрация + Демо-режим", new_user_registration_path , class: "btn btn-large btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    
      <div class="row">
        <div class="span6 box" style="text-align: justify; width: 440px">
          <%#*<div style="text-align: left; margin-bottom: -5pt; margin-top: -20pt;">%>
            <%#= image_tag("Red-pin-32.png")%>
          <%#*</div>%> 
          <strong>Приветствуем Вас</strong> на сайте проекта <strong><em>"Автоматизированная система On-Line Финансовый Анализ"</em>!</strong>
          Он адресован профессионалам в области финансового анализа хозяйственной деятельности и бизнес-планирования.
          С помощью наших инструментов Вы сможете провести <em><strong>комплексный анализ хозяйственной деятельности 
          предприятия</em></strong> в соответствии с законодательством <em><strong>Республики Беларусь</em></strong>. </br>
          В число ключевых возможностей системы входят следующие: </br>
          <ul style="margin-top: 5pt">
            <li>
              Неограниченное количество предприятий, которые можно вести под одним аккаунтом, каждое их которых со своим независимым набором данных.
            </li>
            <li>
              Полный анализ баланса, включая вертикальный и горизонтальный: динамика разделов, строк, их удельных весов в балансе, в разделе, темпов роста/прироста.
            </li>
            <li>
              Более 20-ти расчётных показателей для комплексной оценки уровня платёжеспособности, финансовой устойчивости, ликвидности, 
              деловой активности и рентабельности предприятия. 
            </li>
            <li>
              Более полусотни различного вида диаграмм, делающих процесс анализа наглядным в сочетании с табличными сводами с расчётными данными.
            </li>
            <li>
              Возможность проведения анализа за любой период: от месяца до нескольких лет - без ограничений.
            </li>
            <li>
              Возможность работы из любой точки доступа - нужная информация <strong><em>всегда On-Line, всегда под рукой !</em></strong>
            </li>
          </ul>
          </div>
        <div class="span6 box" style="text-align: justify; width: 440px">
          <%#*<div style="text-align: left; margin-bottom: -5pt; margin-top: -20pt;">%>
            <%#= image_tag("Red-pin-32.png")%>
          <%#*</div>%> 
          Для знакомства с возможностями системы <em>достаточно</em>:</br>
          <ul style="margin-top: 5pt">
          <li>
            Пройти <%= link_to "Бесплатную регистрацию", new_user_registration_path%> и получить доступ к <strong><em>Демо-режиму</em></strong>.
            Система автоматически сгенерирует <strong><em>"тестовое предприятие"</em></strong> 
            с предопределённым условным набором исходных данных в режиме <strong><em>только просмотр</em></strong>.
          </li>
          <li>
            В списке предприятий выбрать его элемент по кнопке <em>Подробно</em>.
          </li>
          <li>
            В открывшейся Панели Управления выбрать команду  <em>Анализ->Провести...</em>.
          </li>
          <li>
            В Панели Управления выбрать команду <em>Результаты->Смотреть...</em> по текущему предприятию, 
            где Вы можете просмотреть результаты расчётов и анализа в виде таблиц и графических диаграмм .
          </li>
          </ul>
           Для получения <strong>полного доступа</strong> к системе <em>необходимо</em>:</br>
           <ul style="margin-top: 5pt">
          <li>
            Ознакомиться с содержанием <%= link_to "Договора публичной оферты",'Public_offer_12-10-2012.pdf'%>.
          </li>
          <li>
            Прочитать в разделе <%= link_to "О проекте", about_path%> о некоторых подробностях проекта.            
          </li>
          <li>
            Произвести банковский безналичный платёж согласно выбранному тарифу (акцепт оферты).
          </li>
          </ul>
          Используйте форму <%= link_to 'Акта об оказанных услугах ...',"#" %>с заполненными реквизитами Исполнителя  
          для бухгалтерского оформления очередного оплаченного периода работы.  
          Cвязаться с нами и задать вопросы можно, воспользовавшись информацией в разделе <%= link_to "Наши контакты", contact_path %>.
          <strong><em>Зарегистрировавшиеся пользователи</em></strong> могут выполнить авторизацию по ссылке <%= link_to "Войти в систему", new_user_session_path %>
          и начать свою работу.</br>          
        </div>
       </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 box" style="text-align: justify; width: 280px">
          <div style="text-align: center; margin-bottom: -5pt; margin-top: -20pt;">
            <%= image_tag("Blue-pin-32.png")%>
          </div> 
          <h2 style="margin-top: 5pt; margin-bottom: 5pt">О проекте</h2>
          <p>Вы можете работать с нашим сервисом когда угодно и где угодно. Ваше рабочее место находится там, где есть Интернет!</p>
          <p><%= link_to "Подробнее...", about_path , class: "btn btn-large btn-info" %></p>
        </div>
        <div class="span4 box" style="text-align: justify; width: 280px">
          <div style="text-align: center; margin-bottom: -5pt; margin-top: -20pt;">
            <%= image_tag("Green-pin-32.png")%>
          </div>           
          <h2 style="margin-top: 5pt; margin-bottom: 5pt">Наши контакты</h2>
          <p>Для решения технических и оперативных вопросов Вы можете держать с нами связь различными способами... </p>
          <p><%= link_to "Подробнее...", contact_path , class: "btn btn-large btn-success" %></p>
        </div>
        <div class="span4 box" style="text-align: justify; width: 280px">
          <div style="text-align: center; margin-bottom: -5pt; margin-top: -20pt;">
            <%= image_tag("Yellow-pin-32.png")%>
          </div>
          <h2 style="margin-top: 5pt; margin-bottom: 5pt">Новости <span class="badge badge-important">Обновлено 11 октября 2012</span></h2>
          <p>Наш проект - это постоянно развивающийся "организм", с жизнью которого связаны те или иные события...</p>
          <p><%= link_to "Подробнее...", news_path , class: "btn btn-large btn-warning" %></p>
        </div>
      </div>
  </div>
<% end  %>