<h2>Повторная отправка инструкций по подтверждению учётной записи</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="span6 offset3">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit "Выполнить отправку на e-mail", :class => "btn btn-medium btn-primary" %>
    </div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>