
<% content_for :span3 do %>
  <%= render :partial => "devise/shared/links" %> 
<% end  %>


<% content_for :span9 do %>

 <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
    html: {class: "well form-inline", style: "padding: 11px"}, 
      defaults: { label: false, 
        :input_html => { :class => 'span12', 
          style: "text-align: left; 
          min-width: 50pt; 
          font-size: 10pt; 
          margin-top: 0px; 
          margin-bottom: -8px; 
          padding: 1pt" } }) do |f| %>
      
      <div class="form-actions" style="border-top-style: none; margin-bottom: 5px; margin-top: 0px; padding: 0px;">
            <%= image_tag("user_group_new.png", :style => "margin-right: 15px;")%> <%= f.submit "Выполнить Регистрацию", :class => "btn btn-large btn-primary" %>
      </div>  
      
      <div class="form-inputs">

        <%= devise_error_messages! %>

        <table class="table table-bordered table-condensed">
          <tbody>          
            <tr>
                <td><div class="pull-right" style="line-height: 28px; vertical-align:middle"><%= f.label :username %>:</div></td>
                <td><div><%= f.input :username %></div></td>        
            </tr>
            <tr>
                <td><div class="pull-right" style="line-height: 28px; vertical-align:middle"><%= f.label :email %>:</div></td>
                <td><div><%= f.input :email %></div></td>        
            </tr>
            <tr>
                <td><div class="pull-right" style="line-height: 28px; vertical-align:middle"><%= f.label :password %>:</div></td>
                <td><div><%= f.input :password %></div></td>        
            </tr>
            <tr>
                <td><div class="pull-right" style="line-height: 28px; vertical-align:middle"><%= f.label :password_confirmation %>:</div></td>
                <td><div><%= f.input :password_confirmation %></div></td>        
            </tr>
            <tr>
                <td><div class="pull-right" style="line-height: 28px; vertical-align:middle"><%= f.label :contact_info %></div></td>
                <td><div><%= f.input :contact_info, :input_html => { :rows => 10 }, placeholder: 'Укажите, пожалуйста, данные как с Вами связаться ...'%></div></td>        
            </tr>
          </tbody>
        </table>
     </div>
   <% end %>
 <% end  %>