<li class="nav-header">ГРАФЫ</li>  
      <li><%= link_to "Графа 3 : Уставный капитал", "#G3" %></li>
      <li><%= link_to "Графа 4 : Неоплаченная часть уставного капитала", "#G4" %></li>
      <li><%= link_to "Графа 5 : Собственные акции (доли в уставном капитале)", "#G5" %></li>
      <li><%= link_to "Графа 6 : Резервный капитал", "#G6" %></li>
      <li><%= link_to "Графа 7 : Добавочный капитал", "#G7" %></li>
      <li><%= link_to "Графа 8 : Нераспределенная прибыль (непокрытый убыток)", "#G8" %></li>
      <li><%= link_to "Графа 9 : Чистая прибыль (убыток)", "#G9" %></li>
      <li><%= link_to "Графа 10: Итого", "#G10" %></li>