<li class="nav-header">Разделы</li>  
      <li><%= link_to "Раздел I. ДОЛГОСРОЧНЫЕ АКТИВЫ", "#R1" %></li>
      <li><%= link_to "Раздел II. КРАТКОСРОЧНЫЕ АКТИВЫ", "#R2" %></li>
      <li><%= link_to "Раздел III. СОБСТВЕННЫЙ КАПИТАЛ", "#R3" %></li>
      <li><%= link_to "Раздел IV. ДОЛГОСРОЧНЫЕ ОБЯЗАТЕЛЬСТВА", "#R4" %></li>
      <li><%= link_to "Раздел V. КРАТКОСРОЧНЫЕ ОБЯЗАТЕЛЬСТВА", "#R5" %></li>