<%  provide(:title, 'Бухгалтерский баланс')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Форма "БУХГАЛТЕРСКИЙ БАЛАНС"</li>  
      <li><%= link_to "Новая", new_enterprise_form_one_report_path%></li>  
      <li><%= link_to "К списку форм", @enterprise %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <table class="table table-striped table-bordered table-condensed">
    <caption> Список форм <strong>БУХГАЛТЕРСКИЙ БАЛАНС</strong> предприятия <strong><em><%= @OrgName %></em></strong></caption>
    <thead>
      <tr>
        <th><div class="pagination-centered">На дату</div></th>
        <th><div class="pagination-centered">Баланс (А)</div></th>
        <th><div class="pagination-centered">Баланс (П)</div></th>
        <th colspan="2"><div class="pagination-centered">Действия</div></th>
      </tr>
    </thead>
    <tbody>
     <% @form_one_reports.each do |form_one_report| %>        
        <tr>          
          <td><div class="pull-left"><%= Russian::strftime(form_one_report.date_period,"%d %B %Y") %> года</div></td>
          <td><div class="pull-right"><%= number_with_delimiter(form_one_report.S300, delimiter: ' ') %></div></td>
          <td><div class="pull-right"><%= number_with_delimiter(form_one_report.S700, delimiter: ' ') %></div></td>
          <td>
            <div class="pagination-centered">
              <%= link_to (enterprise_form_one_report_path(@enterprise,form_one_report)), 
                   class: "btn btn-small btn-danger", 
                   method: :delete,                                             
                   confirm: "Вы уверены удалить БУХГАЛТЕРСКИЙ БАЛАНС нa "+Russian::strftime(form_one_report.date_period,"%d %B %Y")+"года для "+@OrgName+" ?" do %>
                Удалить...<i class="icon-trash icon-white"></i> 
              <% end %>
             </div>
          </td>
          <td>
            <div class="pagination-centered">
              <%= link_to (enterprise_form_one_report_path(@enterprise,form_one_report)), class: "btn btn-small btn-info" do %>
                Подробно...<i class="icon-info-sign icon-white"></i>
              <% end %>  
            </div>
          </td>          
        </tr>
      <% end %>      
    </tbody>    
  </table>
  <%= will_paginate %>
<% end  %>
