<%  provide(:title, 'Бухгалтерский баланс')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">БУХГАЛТЕРСКИЙ БАЛАНС</li>  
      <li><%= link_to "Редактировать", edit_enterprise_form_one_report_path%></li>
      <li><%= link_to "К списку форм БУХГАЛТЕРСКИЙ БАЛАНС", enterprise_form_one_reports_path %></li>                         
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <table class="table table-striped table-bordered table-condensed">
    <caption> <strong>БУХГАЛТЕРСКИЙ БАЛАНС</strong> предприятия <strong><em><%= @OrgName %></em></strong></caption>       
    <thead>
      <tr>
        <th><div class="pagination-centered">Наименование строки</div></th>
        <th><div class="pagination-centered">Код стр.</div></th>
        <th><div class="pagination-centered">На <%= Russian::strftime(@DatePeriod,"%d %B %Y")%> года</div></th>
        <th><div class="pagination-centered">На <%= Russian::strftime((((@DatePeriod).to_date.prev_year).end_of_year),"%d %B %Y")%> года</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">1</div></th>
        <th><div class="pagination-centered">2</div></th>
        <th><div class="pagination-centered">3</div></th>
        <th><div class="pagination-centered">4</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4"><div class="pagination-centered"><strong>Активы</strong></div></td>        
      </tr>
      <tr>
        <td colspan="4"><div class="pull-left"><strong>Раздел I. ДОЛГОСРОЧНЫЕ АКТИВЫ</strong></div></td>        
      </tr>
      <tr>
        <td><div>Основные средства</div></td>
        <td><div class="pagination-centered">110</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S110") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S110") %></div></td>
      </tr>
      <tr>
        <td><div>Нематериальные активы</div></td>
        <td><div class="pagination-centered">120</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S120") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S120") %></div></td>
      </tr>
      <tr>
        <td><div><strong>Доходные вложения в материальные активы</strong></div></td>
        <td><div class="pagination-centered"><strong>130</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S130") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S130") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - инвестиционная недвижимость</em></div></td>
        <td><div class="pagination-centered"><em>131</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S131") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S131") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - предметы финансовой аренды (лизинга)</em></div></td>
        <td><div class="pagination-centered"><em>132</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S132") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S132") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие доходные вложения в материальные активы</em></div></td>
        <td><div class="pagination-centered"><em>133</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S133") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S133") %></em></div></td>
      </tr>
      <tr>
        <td><div>Вложения в долгосрочные активы</div></td>
        <td><div class="pagination-centered">140</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S140") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S140") %></div></td>
      </tr>
       <tr>
        <td><div>Долгосрочные финансовые вложения</div></td>
        <td><div class="pagination-centered">150</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S150") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S150") %></div></td>
      </tr>
       <tr>
        <td><div>Отложенные налоговые активы</div></td>
        <td><div class="pagination-centered">160</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S160") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S160") %></div></td>
      </tr>
       <tr>
        <td><div>Долгосрочная дебиторская задолженность</div></td>
        <td><div class="pagination-centered">170</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S170") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S170") %></div></td>
      </tr>
       <tr>
        <td><div>Прочие  долгосрочные активы</div></td>
        <td><div class="pagination-centered">180</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S180") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S180") %></div></td>
      </tr>
       <tr>
        <td><div><strong>ИТОГО по разделу I</strong></div></td>
        <td><div class="pagination-centered"><strong>190</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S190") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S190") %></strong></div></td>
      </tr>
      <tr>
        <td colspan="4"><div class="pull-left"><strong>Раздел II. КРАТКОСРОЧНЫЕ АКТИВЫ</strong></div></td>        
      </tr>
      <tr>
        <td><div><strong>Запасы</strong></div></td>
        <td><div class="pagination-centered"><strong>210</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S210") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S210") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - материалы</em></div></td>
        <td><div class="pagination-centered"><em>211</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S211") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S211") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - животные на выращивании и откорме</em></div></td>
        <td><div class="pagination-centered"><em>212</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S212") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S212") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - незавершенное производство</em></div></td>
        <td><div class="pagination-centered"><em>213</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S213") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S213") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - готовая продукция и товары</em></div></td>
        <td><div class="pagination-centered"><em>214</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S214") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S214") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - товары отгруженные</em></div></td>
        <td><div class="pagination-centered"><em>215</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S215") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S215") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие запасы</em></div></td>
        <td><div class="pagination-centered"><em>216</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S216") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S216") %></em></div></td>
      </tr>
      <tr>
        <td><div>Долгосрочные активы, предназначенные для реализации</div></td>
        <td><div class="pagination-centered">220</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S220") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S220") %></div></td>
      </tr>
      <tr>
        <td><div>Расходы будущих периодов</div></td>
        <td><div class="pagination-centered">230</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S230") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S230") %></div></td>
      </tr>
      <tr>
        <td><div>Налог на добавленную стоимость по приобретенным товарам, работам, услугам</div></td>
        <td><div class="pagination-centered">240</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S240") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S240") %></div></td>
      </tr>
      <tr>
        <td><div>Краткосрочная дебиторская задолженность</div></td>
        <td><div class="pagination-centered">250</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S250") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S250") %></div></td>
      </tr>
      <tr>
        <td><div>Краткосрочные финансовые вложения</div></td>
        <td><div class="pagination-centered">260</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S260") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S260") %></div></td>
      </tr>
      <tr>
        <td><div>Денежные средства и их эквиваленты</div></td>
        <td><div class="pagination-centered">270</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S270") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S270") %></div></td>
      </tr>
      <tr>
        <td><div>Прочие краткосрочные активы</div></td>
        <td><div class="pagination-centered">280</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S280") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S280") %></div></td>
      </tr>
      <tr>
        <td><div><strong>ИТОГО по разделу II</strong></div></td>
        <td><div class="pagination-centered"><strong>290</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S290") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S290") %></strong></div></td>
      </tr>
      <tr>
        <td><div><strong>БАЛАHС (190+290)</strong></div></td>
        <td><div class="pagination-centered"><strong>300</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S300") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S300") %></strong></div></td>
      </tr>
      <tr>
        <td colspan="4"><div class="pagination-centered"><strong>Собственный капитал и обязательства</strong></div></td>        
      </tr>
      <tr>
        <td colspan="4"><div class="pull-left"><strong>Раздел III. СОБСТВЕННЫЙ КАПИТАЛ</strong></div></td>        
      </tr>
      <tr>
        <td><div>Уставный капитал</div></td>
        <td><div class="pagination-centered">410</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S410") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S410") %></div></td>
      </tr>
      <tr>
        <td><div>Неоплаченная часть уставного капитала</div></td>
        <td><div class="pagination-centered">420</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S420") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S420") %></div></td>
      </tr>
      <tr>
        <td><div>Собственные акции (доли в уставном капитале)</div></td>
        <td><div class="pagination-centered">430</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S430") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S430") %></div></td>
      </tr>
      <tr>
        <td><div>Резервный капитал</div></td>
        <td><div class="pagination-centered">440</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S440") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S440") %></div></td>
      </tr>
      <tr>
        <td><div>Добавочный капитал</div></td>
        <td><div class="pagination-centered">450</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S450") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S450") %></div></td>
      </tr>
      <tr>
        <td><div>Нераспределенная  прибыль (непокрытый убыток)</div></td>
        <td><div class="pagination-centered">460</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S460") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S460") %></div></td>
      </tr>
      <tr>
        <td><div>Чистая прибыль(убыток) отчетного года</div></td>
        <td><div class="pagination-centered">470</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S470") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S470") %></div></td>
      </tr>
      <tr>
        <td><div>Целевое финансирование</div></td>
        <td><div class="pagination-centered">480</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S480") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S480") %></div></td>
      </tr>
      <tr>
        <td><div><strong>ИТОГО по разделу III</strong></div></td>
        <td><div class="pagination-centered"><strong>490</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S490") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S490") %></strong></div></td>
      </tr>
      <tr>
        <td colspan="4"><div class="pull-left"><strong>Раздел IV. ДОЛГОСРОЧНЫЕ ОБЯЗАТЕЛЬСТВА</strong></div></td>        
      </tr>
      <tr>
        <td><div>Долгосрочные кредиты и займы</div></td>
        <td><div class="pagination-centered">510</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S510") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S510") %></div></td>
      </tr>
      <tr>
        <td><div>Долгосрочные обязательства по лизинговым платежам</div></td>
        <td><div class="pagination-centered">520</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S520") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S520") %></div></td>
      </tr>
      <tr>
        <td><div>Долгосрочные обязательства по лизинговым платежам</div></td>
        <td><div class="pagination-centered">530</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S530") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S530") %></div></td>
      </tr>
      <tr>
        <td><div>Отложенные налоговые обязательства</div></td>
        <td><div class="pagination-centered">540</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S540") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S540") %></div></td>
      </tr>
      <tr>
        <td><div>Резервы предстоящих платежей</div></td>
        <td><div class="pagination-centered">550</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S550") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S550") %></div></td>
      </tr>
      <tr>
        <td><div>Резервы предстоящих платежей</div></td>
        <td><div class="pagination-centered">560</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S560") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S560") %></div></td>
      </tr>
      <tr>
        <td><div><strong>ИТОГО по разделу IV</strong></div></td>
        <td><div class="pagination-centered"><strong>590</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S590") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S590") %></strong></div></td>
      </tr>
      <tr>
        <td colspan="4"><div class="pull-left"><strong>Раздел V. КРАТКОСРОЧНЫЕ ОБЯЗАТЕЛЬСТВА</strong></div></td>        
      </tr>
      <tr>
        <td><div>Краткосрочные кредиты и займы</div></td>
        <td><div class="pagination-centered">610</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S610") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S610") %></div></td>
      </tr>
      <tr>
        <td><div>Краткосрочная часть долгосрочных обязательств</div></td>
        <td><div class="pagination-centered">620</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S620") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S620") %></div></td>
      </tr>
      <tr>
        <td><div><strong>Краткосрочная кредиторская задолженность</strong></div></td>
        <td><div class="pagination-centered"><strong>630</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S630") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S630") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - поставщикам, подрядчикам, исполнителям</em></div></td>
        <td><div class="pagination-centered"><em>631</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S631") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S631") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - по авансам полученным</em></div></td>
        <td><div class="pagination-centered"><em>632</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S632") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S632") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - по налогам и сборам</em></div></td>
        <td><div class="pagination-centered"><em>633</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S633") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S633") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - по социальному страхованию и обеспечению</em></div></td>
        <td><div class="pagination-centered"><em>634</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S634") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S634") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - по оплате труда</em></div></td>
        <td><div class="pagination-centered"><em>635</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S635") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S635") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - по лизинговым платежам</em></div></td>
        <td><div class="pagination-centered"><em>636</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S636") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S636") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - собственнику имущества (учредителям, участникам)</em></div></td>
        <td><div class="pagination-centered"><em>637</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S637") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S637") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочим кредиторам</em></div></td>
        <td><div class="pagination-centered"><em>638</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report","S638") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_one_report_g4","S638") %></em></div></td>
      </tr>
      <tr>
        <td><div>Обязательства, предназначенные для реализации</div></td>
        <td><div class="pagination-centered">640</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S640") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S640") %></div></td>
      </tr>
      <tr>
        <td><div>Доходы будущих периодов</div></td>
        <td><div class="pagination-centered">650</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S650") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S650") %></div></td>
      </tr>
      <tr>
        <td><div>Резервы предстоящих платежей</div></td>
        <td><div class="pagination-centered">660</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S660") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S660") %></div></td>
      </tr>
      <tr>
        <td><div>Прочие краткосрочные обязательства</div></td>
        <td><div class="pagination-centered">670</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report","S670") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_one_report_g4","S670") %></div></td>
      </tr>
      <tr>
        <td><div><strong>ИТОГО по разделу V</strong></div></td>
        <td><div class="pagination-centered"><strong>690</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S690") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S690") %></strong></div></td>
      </tr>
      <tr>
        <td><div><strong>БАЛАHС (490+590+690)</strong></div></td>
        <td><div class="pagination-centered"><strong>700</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report","S700") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_one_report_g4","S700") %></strong></div></td>
      </tr>
    </tbody>    
  </table>  
<% end %>
