<%  provide(:title, 'Отчёт о движении денежных средств')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Отчёт "О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ"</li>  
      <li><%= link_to "Новый", new_enterprise_form_four_report_path%></li>  
      <li><%= link_to "К Панели Управления", @enterprise %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <table class="table table-striped table-bordered table-condensed">
    <caption>Список отчётов<strong> О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ</strong> предприятия <strong><em><%= @OrgName %></em></strong></caption>
    <thead>
      <tr>
        <th colspan="2"><div class="pagination-centered">За период</div></th>
        <th colspan="2" rowspan="2"><div class="pagination-centered" style="line-height: 40px; vertical-align:middle;">Действия</div></th>
      </tr>
      <tr>        
        <th><div class="pagination-centered">С</div></th>
        <th><div class="pagination-centered">ПО</div></th>        
      </tr>
    </thead>
    <tbody>
     <% @form_four_reports.each do |form_four_report| %>        
        <tr>          
          <td><div class="pagination-centered"><%= Russian::strftime(form_four_report.date_period_beg,"%d %B %Y") %></div></td>
          <td><div class="pagination-centered"><%= Russian::strftime(form_four_report.date_period_end,"%d %B %Y") %></div></td>          
          <td>
            <div class="pagination-centered">
              <%= link_to ([@enterprise,form_four_report]), 
                   class: "btn btn-small btn-danger", 
                   method: :delete,                                             
                   confirm: "Вы уверены удалить ОТЧЁТ О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ за период c "+Russian::strftime(form_four_report.date_period_beg,"%d %B %Y")+" года по "+
                                                                                       Russian::strftime(form_four_report.date_period_end,"%d %B %Y")+" года для "+@OrgName+" ?" do %>
                Удалить...<i class="icon-trash icon-white"></i> 
              <% end %>
             </div>
          </td>
          <td>
            <div class="pagination-centered">
              <%= link_to (enterprise_form_four_report_path(@enterprise,form_four_report)), class: "btn btn-small btn-info" do %>
                Подробно...<i class="icon-info-sign icon-white"></i>
              <% end %>  
            </div>
          </td>          
        </tr>
      <% end %>      
    </tbody>    
  </table>
  <%= will_paginate %>
<% end  %>