<%  provide(:title, 'Отчёт о движении денежных средств')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">ОТЧЁТ О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ</li>  
      <li><%= link_to "Редактировать", edit_enterprise_form_four_report_path%></li>
      <li><%= link_to "К списку отчётов О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ", enterprise_form_four_reports_path %></li>
      <%= render 'anchors'%>
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>  
  <table class="table table-striped table-bordered table-condensed">
    <caption> Отчёт<strong> О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ</strong> предприятия <strong><em><%= @OrgName %></em></strong></br>
              За <%= Russian::strftime(@DatePeriod_beg,"%B")%> - <%= Russian::strftime(@DatePeriod_end,"%B %Y")%> г.
    </caption>       
    <thead>
      <tr>
        <th><div class="pagination-centered" style="line-height: 40px; vertical-align:middle;">Наименование</div></th>
        <th><div class="pagination-centered">Код стр.</div></th>
        <th><div class="pagination-centered">За <%= Russian::strftime(@DatePeriod_beg,"%B")%> - <%= Russian::strftime(@DatePeriod_end,"%B %Y")%> г.</div></th>
        <th><div class="pagination-centered">За <%= Russian::strftime(@DatePeriod_beg_g4,"%B")%> - <%= Russian::strftime(@DatePeriod_end_g4,"%B %Y")%> г.</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">1</div></th>
        <th><div class="pagination-centered">2</div></th>
        <th><div class="pagination-centered">3</div></th>
        <th><div class="pagination-centered">4</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4"><div><strong>Движение денежных средств по ТЕКУЩЕЙ деятельности</strong></div></td>        
      </tr>
      <tr>
        <td><div><strong>Поступило денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>020</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S020") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S020") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - от покупателей продукции, товаров, заказчиков работ, услуг</em></div></td>
        <td><div class="pagination-centered"><em>021</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S021") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S021") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - от покупателей материалов и других запасов</em></div></td>
        <td><div class="pagination-centered"><em>022</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S022") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S022") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - роялти</em></div></td>
        <td><div class="pagination-centered"><em>023</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S023") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S023") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие поступления</em></div></td>
        <td><div class="pagination-centered"><em>024</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S024") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S024") %></em></div></td>
      </tr>
      <tr>
        <td><div><strong>Направлено денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>030</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S030") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S030") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - на приобретение запасов,  работ, услуг</em></div></td>
        <td><div class="pagination-centered"><em>031</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S031") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S031") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на оплату труда</em></div></td>
        <td><div class="pagination-centered"><em>032</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S032") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S032") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на уплату налогов и взносов</em></div></td>
        <td><div class="pagination-centered"><em>033</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S033") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S033") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на прочие выплаты</em></div></td>
        <td><div class="pagination-centered"><em>034</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S034") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S034") %></em></div></td>
      </tr>
      <tr>
        <td><div><strong>Результат движения денежных средств по текущей деятельности (020-030) </strong></div></td>
        <td><div class="pagination-centered"><strong>040</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S040") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S040") %></strong></div></td>
      </tr>
      
      <tr>
        <td colspan="4"><div><strong>Движение денежных средств по ИНВЕСТИЦИОННОЙ деятельности</strong></div></td>
      </tr>
      <tr>
        <td><div><strong>Поступило денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>050</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S050") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S050") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - от покупателей основных средств, нематериальных активов и других долгосрочных активов</em></div></td>
        <td><div class="pagination-centered"><em>051</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S051") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S051") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> -  возврат предоставленных займов</em></div></td>
        <td><div class="pagination-centered"><em>052</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S052") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S052") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - доходы от участия в уставном капитале других организаций</em></div></td>
        <td><div class="pagination-centered"><em>053</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S053") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S053") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - проценты</em></div></td>
        <td><div class="pagination-centered"><em>054</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S054") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S054") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие поступления</em></div></td>
        <td><div class="pagination-centered"><em>055</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S055") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S055") %></em></div></td>
      </tr>
      <tr>
        <td><div><strong>Направлено денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>060</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S060") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S060") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - на приобретение запасов,  работ, услуг</em></div></td>
        <td><div class="pagination-centered"><em>061</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S061") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S061") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на оплату труда</em></div></td>
        <td><div class="pagination-centered"><em>062</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S062") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S062") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на уплату налогов и взносов</em></div></td>
        <td><div class="pagination-centered"><em>063</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S063") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S063") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на прочие выплаты</em></div></td>
        <td><div class="pagination-centered"><em>064</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S064") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S064") %></em></div></td>
      </tr>
      <tr>
        <td><div><strong>Результат движения денежных средств по инвестиционной деятельности (050-060)</strong></div></td>
        <td><div class="pagination-centered"><strong>070</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S070") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S070") %></strong></div></td>
      </tr>
      
      <tr>
        <td colspan="4"><div><strong>Движение денежных средств по ФИНАНСОВОЙ деятельности</strong></div></td>
      </tr>
       <tr>
        <td><div><strong>Поступило денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>080</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S080") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S080") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - кредиты и займы</em></div></td>
        <td><div class="pagination-centered"><em>081</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S081") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S081") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> -  от выпуска акций</em></div></td>
        <td><div class="pagination-centered"><em>082</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S082") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S082") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - вклады собственника имущества (учредителей, участников)</em></div></td>
        <td><div class="pagination-centered"><em>083</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S083") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S083") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие поступления</em></div></td>
        <td><div class="pagination-centered"><em>084</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S084") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S084") %></em></div></td>
      </tr>      
      <tr>
        <td><div><strong>Направлено денежных средств - всего</strong></div></td>
        <td><div class="pagination-centered"><strong>090</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S090") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S090") %></strong></div></td>
      </tr>
      <tr>
        <td><div>В том числе:</div></td>
        <td><div></div></td>
        <td><div></div></td>
        <td><div></div></td>
      </tr>
      <tr>
        <td><div><em> - на погашение кредитов и займов</em></div></td>
        <td><div class="pagination-centered"><em>091</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S091") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S091") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на выплаты дивидендов и других доходов от участия в уставном капитале организации</em></div></td>
        <td><div class="pagination-centered"><em>092</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S092") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S092") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на выплаты процентов</em></div></td>
        <td><div class="pagination-centered"><em>093</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S093") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S093") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - на лизинговые платежи</em></div></td>
        <td><div class="pagination-centered"><em>094</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S094") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S094") %></em></div></td>
      </tr>
      <tr>
        <td><div><em> - прочие выплаты</em></div></td>
        <td><div class="pagination-centered"><em>095</em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report","S095") %></em></div></td>
        <td><div class="pagination-centered"><em><%= display_cell_data("form_four_report_g4","S095") %></em></div></td>
      </tr>
      <tr>
        <td><div><strong>Результат движения денежных средств по финансовой деятельности (080-090)</strong></div></td>
        <td><div class="pagination-centered"><strong>100</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S100") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S100") %></strong></div></td>
      </tr>
      <tr>
        <td><div><strong>Результат движения денежных средств за отчетный период (040+070+100)</strong></div></td>
        <td><div class="pagination-centered"><strong>110</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S110") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S110") %></strong></div></td>
      </tr>
      <tr>
        <td><div><strong>Остаток денежных средств и их эквивалентов на конец предыдущего года</strong></div></td>
        <td><div class="pagination-centered"><strong>120</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S120") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S120") %></strong></div></td>
      </tr>
      <tr>
        <td><div><strong>Остаток денежных средств и их эквивалентов на конец отчетного периода (120+110)</strong></div></td>
        <td><div class="pagination-centered"><strong>130</strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report","S130") %></strong></div></td>
        <td><div class="pagination-centered"><strong><%= display_cell_data("form_four_report_g4","S130") %></strong></div></td>
      </tr>      
      <tr>
        <td><div>Влияние изменений курса иностранной валюты по отношению к белорусскому рублю</div></td>
        <td><div class="pagination-centered">140</div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_four_report","S140") %></div></td>
        <td><div class="pagination-centered"><%= display_cell_data("form_four_report_g4","S140") %></div></td>
      </tr>  
    </tbody>    
  </table>  
<% end %>