<%  provide(:title, 'Свойства Учётной Записи')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Просмотр</li>  
      <li><%= link_to "Вернуться на главную", root_path %></li>
  <%#= render 'anchors'%>
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<legend><%= image_tag("Account_properties.png") %><strong>Свойства Учётной Записи</strong></legend>
  <table class="table table-striped table-bordered table-condensed">
    <caption><strong>Пользователь: </strong> <%= current_user.email%><em>(<%= current_user.username%>)</em></caption>        
    <tbody>      
      <tr>
        <td colspan="2"><div class="pagination-centered"><em><strong>ДОГОВОР</strong></em></div></td>        
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Номер</strong></div></td>
        <td><div class="pull-left" ><em><%= current_user.dogovor_nomer %></em></div></td>       
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Дата начала</strong></div></td>
        <td><div class="pull-left" ><em><%= Russian::strftime(current_user.dogovor_begin,"%d %B %Y")%> года</em></div></td>       
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Дата окончания</strong></div></td>
        <td><div class="pull-left" ><em><%= Russian::strftime(current_user.dogovor_end,"%d %B %Y")%> года</em></div></td>       
      </tr>
      <tr>
        <td colspan="2"><div class="pagination-centered"><em><strong>АКТИВАЦИЯ</strong></em></div></td>        
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Дата начала</strong></div></td>
        <td><div class="pull-left" ><em><%= Russian::strftime(current_user.activation_begin,"%d %B %Y")%> года</em></div></td>       
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Дата окончания</strong></div></td>
        <td><div class="pull-left" ><em><%= Russian::strftime(current_user.activation_end,"%d %B %Y")%> года</em></div></td>       
      </tr>
      <tr>
        <td><div class="pull-right"><strong>Активация разрешена?</strong></div></td>
        <td><div class="pull-left" ><em><%= (current_user.activation_allowed)?'Да, разрешена':'Нет, запрещена' %></em></div></td>       
      </tr>
      <tr>
        <td colspan="2"><div class="pagination-centered"><em><strong>КОНТАКТНАЯ ИНФОРМАЦИЯ</strong></em></div></td>        
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= current_user.contact_info %></div></td>
      </tr>
    </tbody>    
  </table>   
<% end  %>
