<li class="nav-header">Динамика Строк Баланса</li>
      <li><%= link_to "Итоги Активов (абсол.)", "#G1" %></li>
      <li><%= link_to "Итоги Пассивов (абсол.)", "#G2" %></li>
      <li><%= link_to "Строки Раздела I (абсол.)", "#G3" %></li>
      <li><%= link_to "Строки Раздела II (абсол.)", "#G4" %></li>
      <li><%= link_to "Строки Раздела III (абсол.)", "#G5" %></li>
      <li><%= link_to "Строки Раздела IV (абсол.)", "#G6" %></li>
      <li><%= link_to "Строки Раздела V (абсол.)", "#G7" %></li>