<li class="nav-header">Горизонтальный Анализ Баланса</li>
      <li><%= link_to "Активы (абсол.знач.)", "#G1" %></li>
      <li><%= link_to "Пассивы (абсол.знач.)", "#G2" %></li>
      <li><%= link_to "Раздел I (абсол.знач.)", "#G3" %></li>
      <li><%= link_to "Раздел II (абсол.знач.)", "#G4" %></li>
      <li><%= link_to "Раздел III (абсол.знач.)", "#G5" %></li>
      <li><%= link_to "Раздел IV (абсол.знач.)", "#G6" %></li>
      <li><%= link_to "Раздел V (абсол.знач.)", "#G7" %></li>
      <li class="divider"></li>
      <li><%= link_to "Активы (удел.веса)", "#G8" %></li>
      <li><%= link_to "Пассивы (удел.веса)", "#G9" %></li>
      <li><%= link_to "Раздел I (удел.веса)", "#G10" %></li>
      <li><%= link_to "Раздел II (удел.веса)", "#G11" %></li>
      <li><%= link_to "Раздел III (удел.веса)", "#G12" %></li>
      <li><%= link_to "Раздел IV (удел.веса)", "#G13" %></li>
      <li><%= link_to "Раздел V (удел.веса)", "#G14" %></li>
<li class="nav-header">Вертикальный Анализ Баланса</li>
      <li><%= link_to "По удельным весам", "#G15" %></li>
