<li class="nav-header">Динамика Статей Баланса</li>
      <li><%= link_to "Итоги Активов (абсол.)", "#G1" %></li>
      <li><%= link_to "Итоги Пассивов (абсол.)", "#G2" %></li>
      <li><%= link_to "Статьи Раздела I (абсол.)", "#G3" %></li>
      <li><%= link_to "Статьи Раздела II (абсол.)", "#G4" %></li>
      <li><%= link_to "Статьи Раздела III (абсол.)", "#G5" %></li>
      <li><%= link_to "Статьи Раздела IV (абсол.)", "#G6" %></li>
      <li><%= link_to "Статьи Раздела V (абсол.)", "#G7" %></li>