<li class="nav-header">Динамика Показателей Деловой Активности</li>
      <li><%= link_to "Общая оборачиваемость капитала (деловая активность)", "#G1" %></li>
      <li><%= link_to "Оборачиваемость оборотных средств (краткосрочных активов)", "#G2" %></li>
      <li><%= link_to "Оборачиваемость запаса сырья, материалов и полуфабрикатов", "#G3" %></li>
      <li><%= link_to "Оборачиваемость готовой продукции", "#G4" %></li>
      <li><%= link_to "Оборачиваемость дебиторской задолженности", "#G5" %></li> 
      <li><%= link_to "Оборачиваемость кредиторской задолженности", "#G6" %></li> 
