<li class="nav-header">Динамика Показателей Финансовой Устойчивости</li>
      <li><%= link_to "Автономия", "#G1" %></li>
      <li><%= link_to "Концентрация заёмного капитала", "#G2" %></li>
      <li><%= link_to "Долгосрочная финансовая независимость", "#G3" %></li>
      <li><%= link_to "Соотношение заемных и собственных средств", "#G4" %></li>
      <li><%= link_to "Маневренность собственного капитала", "#G5" %></li>  
