<li class="nav-header">Динамика Показателей Ликвидности</li>
      <li><%= link_to "Текущая ликвидность (K1)", "#G1" %></li>
      <li><%= link_to "Абсолютная ликвидность", "#G2" %></li>
      <li><%= link_to "Критическая (промежуточная) ликвидность", "#G3" %></li>
      <li><%= link_to "Обеспеченность собственными оборотными средствами (K2)", "#G4" %></li>
      <li><%= link_to "Обеспеченность финансовых обязательств активами (K3)", "#G5" %></li>  
