<li class="nav-header">Динамика Показателей Рентабельности</li>
      <li><%= link_to "Продажи", "#G1" %></li>
      <li><%= link_to "Активов", "#G2" %></li>
      <li><%= link_to "Собственного капитала", "#G3" %></li>
      <li><%= link_to "Производственных затрат, составляющих себестоимость продукции", "#G4" %></li>
      <li><%= link_to "Полной себестоимости реализованной продукции", "#G5" %></li> 
      <li><%= link_to "Общих расходов коммерческой организации", "#G6" %></li>
      <li><%= link_to "Расходов, обусловивших получение чистой прибыли коммерческой организации", "#G7" %></li> 
