<%= raw Seer::init_visualization %>

<%  provide(:title, 'Анализ баланса')%>

<% content_for :span3 do %>
  <%= link_to results_path(id: @enterprise), class: "btn btn-small btn-info" do %>
     К странице Результаты
  <% end %>    
<% end  %>

<% content_for :span9 do %>   
  <%= link_to "#Gorizontal", class: "btn btn-small btn-success" do %>
     Горизонтальный Анализ
  <% end %> 
  <%= link_to "#Vertical", class: "btn btn-small btn-success" do %>
     Вертикальный Анализ
  <% end %>  
<% end  %>

<a name="BeginOfPage"></a>
<legend><%= image_tag("AB-64.png") %> Анализ <%= @C0 %></legend>

<table class="table table-striped table-bordered table-condensed" style="font-size: 12px">
    <caption> Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
              За период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
                                  <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong></caption>
    <thead>
      <tr>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 240px">Наименование строки</div></th>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 60px; vertical-align:middle;">Код</div></th>
        <th colspan="2"><div class="pagination-centered">На начало периода</div></th>
        <th colspan="2"><div class="pagination-centered">На конец периода</div></th>
        <th colspan="2"><div class="pagination-centered">Изменения</div></th>
        <th colspan="2"><div class="pagination-centered">Темпы</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 85px">сумма</div></th>
        <th><div class="pagination-centered" style="margin-bottom: 3pt" id="rotate90"><%= @C4 %></div></th>
        <th><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 85px">сумма</div></th>
        <th><div class="pagination-centered" style="margin-bottom: 3pt" id="rotate90"><%= @C4 %></div></th>
        <th><div class="pagination-centered" style="min-width: 85px; line-height: 30px; vertical-align:middle;">по сумме, (гр.5-гр.3)</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">по %-ам, (гр.6-гр.4)</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">роста,% (гр.5*100/гр.3)</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">прироста,% </br>(гр.9-100)</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">1</div></th>
        <th><div class="pagination-centered">2</div></th>
        <th><div class="pagination-centered">3</div></th>
        <th><div class="pagination-centered">4</div></th>
        <th><div class="pagination-centered">5</div></th>
        <th><div class="pagination-centered">6</div></th>
        <th><div class="pagination-centered">7</div></th>
        <th><div class="pagination-centered">8</div></th>
        <th><div class="pagination-centered">9</div></th>
        <th><div class="pagination-centered">10</div></th>
      </tr>
    </thead>
    <tbody>      
      <% @AB.each do |ab| %>      
          <% case ab.row_type %>
          <% when 0 %> 
           <tr>
             <td colspan="10"><div class="pagination-centered"><strong><%= ab.G1%></strong></div></td>             
           </tr>
          <% when 1 %> 
            <tr>
             <td colspan="10"><div class="pull-left"><strong><%= ab.G1%></strong></div></td>             
            </tr>
          <% when 2 %> 
            <tr>
               <td><div class="pull-left"><%= ab.G1 %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= ab.G2 %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G3) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G4) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G5) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G6) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G7) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G8) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G9) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_result_data(ab.G10) %></div></td>
            </tr>
          <% when 3 %>
            <tr>
               <td><div class="pull-left"           style="line-height: 20px; vertical-align:middle;"><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_result_data(ab.G10) %></strong></div></td>
            </tr>
          <% when 4 %>
            <tr>
             <td><div><%= ab.G1%></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
           </tr>
          <% when 5 %>
           <tr>
               <td><div class="pull-left"><em><%= ab.G1 %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= ab.G2 %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G3) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G4) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G5) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G6) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G7) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G8) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G9) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_result_data(ab.G10)%></em></div></td>
            </tr>
          <% when 6 %>
            <tr>
               <td><div class="pull-left"><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_result_data(ab.G10) %></strong></div></td>
            </tr>
          <% when 7 %>
            <tr>
               <td><div class="pull-left"           ><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_result_data(ab.G10) %></strong></div></td>
            </tr>
        <% end %>
      <% end %>    
    </tbody>   
  </table>
<a name="Gorizontal"></a>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
        <td><div class="pagination-centered" ><strong>Горизонтальный Анализ</strong></div></td>
    </tr>
  </thead>
    <tbody>      
      <tr>
        <td><div id="D1"></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
      <tr>
        <td><div id="D2" ></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
      <tr>
        <td><div id="D3" ></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
      <tr>
        <td><div id="D4" ></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
       </tbody>   
  </table>
<a name="Vertical"></a>
<table class="table table-striped table-bordered table-condensed">
   <thead>
      <tr>
        <td><div class="pagination-centered" ><strong>Вертикальный Анализ</strong></div></td>
      </tr>
   </thead>     
      <tr>
        <td><div id="D5" ></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
      <tr>
        <td><div id="D6" ></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %></div></td>
      </tr>
    </tbody>   
  </table>
<%#############################################################################################################################%>
<table class="table table-bordered table-condensed">
     <thead style="font-size: 14px">
      <tr>        
        <th><div class="pagination-centered">На Дату</div></th>
        <th><div class="pagination-centered">Удельные веса <%= @C1%></div></th>
      </tr>
     </thead>
    <tbody>
      <% unless @Dates.nil? %>
        <% @Dates.each do |date_line| %>
           <%  @Arr_data << eval("@DiagType_#{7*params[:ab].to_i}_#{date_line.date_period_end.to_s.gsub('-','_')}_data") %>           
           <%  @Arr_data_id << @data_id="Pie_1_#{date_line.date_period_end.to_s.gsub('-','_')}" %>           
           <tr>
             <td><div class="pagination-centered" style="line-height: 250px; vertical-align:middle;"><%= Russian::strftime(date_line.date_period_end,"%d %B %Y г.") %></div></td>
             <td><div class='pagination-centered' id="<%=@data_id%>"></div></td>             
           </tr>            
        <% end %> 
      <% end %>     
      <tr>
        <td colspan="2"><div class="pull-left"><%= link_to "#BeginOfPage", class: "btn btn-small btn-info" do %>
                                                        В начало страницы
                                               <% end %> </div></td>
      </tr>
    </tbody>   
  </table>
<%####################################################################################################################%>

  <% unless @DiagType1_data.nil? %>  
    <%= raw Seer::visualize(
      @DiagType1_data, 
      :as => :line_chart,
      :in_element => 'D1',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType1_series
      },
      :chart_options => {
        :title => 'Динамика '+ @C1,
        :title_y => 'Сумма, млн.руб.',
        :legend => 'left',
        :legend_font_size => 10,
        :height => 270,
        :width => 930,
        :axis_font_size => 11,
        :colors => ['#000099','#009900','#990000','#FF0000','#FFA500','#FFFF00',
                    '#808000','#008000','#800080','#FF00FF',
                    '#00FF00','#008080','#FA8072','#0000FF',
                    '#000080','#000000','#808088','#C0C0C0',
                    '#9400D3','#FF1493','#4682B4','#F0E68C','#BC8F8F'],
        :point_size => 5})%>
  <% end %>

<% unless @DiagType2_data.nil? %> 
 <%= raw Seer::visualize(
   @DiagType2_data,
   :as => :bar_chart,
   :in_element => 'D2',
   :series => {:series_label => 'name', :data_method => 'summa'},
   :chart_options => {
   :height => 270,
   :width => 930,
   :is_3_d => true,
   :legend => 'none',
   :axis_font_size => 11,
   :colors => "[{color:'#000099', darker:'#000066'}]",
   :title => 'Изменения '+ @C1,
   :title_x => 'Сумма, млн.руб. (графа 7)',
   :title_y => 'Раздел/Строка'})%>
<% end %>

<% unless @DiagType3_data.nil? %> 
 <%= raw Seer::visualize(
   @DiagType3_data,
   :as => :bar_chart,
   :in_element => 'D3',
   :series => {:series_label => 'name', :data_method => 'summa_dec'},
   :chart_options => {
   :height => 270,
   :width => 930,
   :is_3_d => true,
   :legend => 'none',
   :axis_font_size => 11,
   :colors => "[{color:'#009900', darker:'#006600'}]",
   :title => 'Темп роста '+ @C1,
   :title_x => 'в % (графа 9)',
   :title_y => 'Раздел/Строка'})%>
<% end %>

<% unless @DiagType4_data.nil? %> 
 <%= raw Seer::visualize(
   @DiagType4_data,
   :as => :bar_chart,
   :in_element => 'D4',
   :series => {:series_label => 'name', :data_method => 'summa_dec'},
   :chart_options => {
   :height => 270,
   :width => 930,
   :is_3_d => true,
   :legend => 'none',
   :axis_font_size => 11,
   :colors => "[{color:'#990000', darker:'#660000'}]",
   :title => 'Темп прироста '+ @C1,
   :title_x => 'в % (графа 10)',
   :title_y => 'Раздел/Строка'})%>
<% end %>

<% unless @DiagType5_data.nil? %>  
    <%= raw Seer::visualize(
      @DiagType5_data, 
      :as => :line_chart,
      :in_element => 'D5',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa_dec',
        :data_series  => @DiagType5_series
      },
      :chart_options => {
        :title => 'Динамика структуры '+ @C1,
        :title_y => 'в %-ах',
        :legend => 'left',
        :legend_font_size => 10,
        :height => 270,
        :width => 930,
        :axis_font_size => 11,
        :colors => ['#000099','#009900','#990000','#FF0000','#FFA500','#FFFF00',
                    '#808000','#008000','#800080','#FF00FF',
                    '#00FF00','#008080','#FA8072','#0000FF',
                    '#000080','#000000','#808088','#C0C0C0',
                    '#9400D3','#FF1493','#4682B4','#F0E68C','#BC8F8F'],
        :point_size => 5})%>
  <% end %>

<% unless @DiagType6_data.nil? %> 
 <%= raw Seer::visualize(
   @DiagType6_data,
   :as => :bar_chart,
   :in_element => 'D6',
   :series => {:series_label => 'name', :data_method => 'summa_dec'},
   :chart_options => {
   :height => 270,
   :width => 930,
   :is_3_d => true,
   :legend => 'none',
   :axis_font_size => 11,
   :colors => "[{color:'#20B2AA', darker:'#008B8B'}]",
   :title => 'Изменения удельного веса '+ @C1,
   :title_x => 'в % (графа 8)',
   :title_y => 'Раздел/Строка'})%>
<% end %>

<%#############################################################################################################%>
<%# Для круговых диаграмм ...%>
<% unless @Arr_data.nil? %>
  <% @Arr_data.each_with_index do |data,datai| %> 
    <%= raw  Seer::visualize(
             data, 
             :as => :pie_chart,
             :in_element => @Arr_data_id[datai],
             :series => {
                  :series_label => 'name',
                  :data_method =>  'summa'
             },
        :chart_options => { 
        :height => 270,
        :width => 800,
        :axis_font_size => 11,
        :title => '',
        :legend => 'left',
        :legend_font_size => 10,
        :tooltip_font_size => 14,
        :colors => ['#000099','#009900','#990000','#FF0000','#FFA500','#FFFF00',
                    '#808000','#008000','#800080','#FF00FF',
                    '#00FF00','#008080','#FA8072','#0000FF',
                    '#000080','#000000','#808088','#C0C0C0',
                    '#9400D3','#FF1493','#4682B4','#F0E68C','#BC8F8F'],
        :point_size => 5,
        :is_3_d => false
      })%>
  <% end %>
<% end %>