<%= raw Seer::init_visualization %>


<%  provide(:title, 'Результаты|Графически')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">ГРАФИКИ</li>       
      <li><%= link_to "К странице Результаты", results_path(id: @enterprise) %></li>
      <%= render 'anchors'%>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<a name="BeginOfPage"></a>
<legend><%= image_tag("column chart 64.png") %> Аналитический баланс (Графически)</legend>  
 <table class="table table-striped table-bordered table-condensed">
    <caption style="font-size: 14px">Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
              За период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
                                  <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong> </caption>
     <thead>
      <tr>        
        <th><a name="G1"></a> <div class="pagination-centered"  style="font-size: 15px">Динамика разделов баланса</div></th>
      </tr>
     </thead>
    <tbody>            
       <tr>
         <td><div id="Active" ></div></td>
       </tr>
       <tr>
          <td colspan="3"><a name="G2"></a> <div class="pagination-centered"><%= link_to " (В начало страницы)", "#BeginOfPage"  %></div></td>
       </tr>       
       <tr>
          <td><div id="Passive"></div></td>
       </tr>       
       <tr>
          <td colspan="3"><a name="G3"></a><div class="pagination-centered"><%= link_to " (В начало страницы)", "#BeginOfPage"  %></div></td>
       </tr>
       <tr>
          <td> <div id="Razdel_1"></div></td>
       </tr>
       <tr>
         <td colspan="3"><a name="G4"></a><div class="pagination-centered"><%= link_to " (В начало страницы)", "#BeginOfPage"  %></div></td>
       </tr>
       <tr>
          <td> <div id="Razdel_2"></div></td>
       </tr>
       <tr>
         <td colspan="3"><a name="G5"></a><div class="pagination-centered"><%= link_to " (В начало страницы)", "#BeginOfPage"  %></div></td>
       </tr>
       <tr>
          <td> <div id="Razdel_3"></div></td>
       </tr>
       <tr>
         <td colspan="3"><a name="G6"></a><div class="pagination-centered"><%= link_to " (В начало страницы)", "#BeginOfPage"  %></div></td>
       </tr>
    </tbody>   
  </table>
 <% end  %> 
    
  <% unless @DiagType1_data.empty? %>  
    <%= raw Seer::visualize(
      @DiagType1_data, 
      :as => :line_chart,
      :in_element => 'Active',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType1_series
      },
      :chart_options => {
        :height => 300,
        :width => 660,
        :axis_font_size => 11,
        :colors => ['#000099','#009900'],
        :title => "Итоги по разделам Активов",
        :point_size => 5})%>
  <% end %>
  
  <% unless @DiagType2_data.empty?%>
    <%= raw Seer::visualize(
      @DiagType2_data, 
      :as => :line_chart,
      :in_element => 'Passive',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType2_series
      },
      :chart_options => {
        :height => 300,
        :width => 660,
        :axis_font_size => 11,
        :colors => ['#000099','#009900','#990000'],
        :title => "Итоги по разделам Пассивов",
        :point_size => 5})%>
  <% end %>
  
  <% unless @DiagType3_data.empty?%>
    <%= raw Seer::visualize(
      @DiagType3_data, 
      :as => :line_chart,
      :in_element => 'Razdel_1',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType3_series
      },
      :chart_options => {
        :height => 300,
        :width => 660,
        :axis_font_size => 11,
        :colors => ['#0033FF','#33FF00','#FF0000','#003366','#336600','#660000','#000033','#003300'],
        :title => "Динамика статей Раздела I. ДОЛГОСРОЧНЫЕ АКТИВЫ",
        :point_size => 5})%>
  <% end %>
  
<% unless @DiagType4_data.empty?%>
    <%= raw Seer::visualize(
      @DiagType4_data, 
      :as => :line_chart,
      :in_element => 'Razdel_2',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType4_series
      },
      :chart_options => {
        :height => 300,
        :width => 660,
        :axis_font_size => 11,
        :colors => ['#0033FF','#33FF00','#FF0000','#003366','#336600','#660000','#000033','#003300'],
        :title => "Динамика статей Раздела II. КРАТКОСРОЧНЫЕ АКТИВЫ ",
        :point_size => 5})%>
  <% end %>

<% unless @DiagType5_data.empty?%>
    <%= raw Seer::visualize(
      @DiagType5_data, 
      :as => :line_chart,
      :in_element => 'Razdel_3',
      :series => {
        :series_label => 'name',
        :data_label   => 'rus_date_period',
        :data_method  => 'summa',
        :data_series  => @DiagType5_series
      },
      :chart_options => {
        :height => 300,
        :width => 660,
        :axis_font_size => 11,
        :colors => ['#0033FF','#33FF00','#FF0000','#003366','#336600','#660000','#000033','#003300'],
        :title => "Динамика статей Раздела III. СОБСТВЕННЫЙ КАПИТАЛ ",
        :point_size => 5})%>
  <% end %>



  <%#= debug(assigns) if Rails.env.development?%>
 
 