
  <legend><%= image_tag("Generate tables 64.png") %> Аналитический баланс (таблично)</legend>

  <%= link_to "К странице Результаты", results_path(id: @enterprise) %>
  <table class="table table-striped table-bordered table-condensed">
    <caption> Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
              За период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
                                  <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong></caption>
    <thead style="font-size: 11px">
      <tr>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 180px">Наименование строки</div></th>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 60px; vertical-align:middle;">Код</div></th>
        <th colspan="2"><div class="pagination-centered">На начало периода</div></th>
        <th colspan="2"><div class="pagination-centered">На конец периода</div></th>
        <th colspan="2"><div class="pagination-centered">Отклонения по балансу</div></th>
        <th colspan="2"><div class="pagination-centered">Отклонения по строке</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 85px">Сумма</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">% к бал.</div></th>
        <th><div class="pagination-centered" style="line-height: 60px; vertical-align:middle; min-width: 85px">Сумма</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">% к бал.</div></th>
        <th><div class="pagination-centered" style="min-width: 85px; line-height: 30px; vertical-align:middle;">По сумме, (гр.5-гр.3)</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">По %-ам, (гр.6-гр.4)</div></th>
        <th><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">%, (гр.5*100/гр.3)</div></th>
        <th><div class="pagination-centered">Темп роста,% </br>(гр.9-100)</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">1</div></th>
        <th><div class="pagination-centered">2</div></th>
        <th><div class="pagination-centered">3</div></th>
        <th><div class="pagination-centered">4</div></th>
        <th><div class="pagination-centered">5</div></th>
        <th><div class="pagination-centered">6</div></th>
        <th><div class="pagination-centered">7</div></th>
        <th><div class="pagination-centered">8</div></th>
        <th><div class="pagination-centered">9</div></th>
        <th><div class="pagination-centered">10</div></th>
      </tr>
    </thead>
    <tbody>      
      <% @AB.each do |ab| %>      
          <% case ab.row_type %>
          <% when 0 %> 
           <tr>
             <td colspan="10"><div class="pagination-centered"><strong><%= ab.G1%></strong></div></td>             
           </tr>
          <% when 1 %> 
            <tr>
             <td colspan="10"><div class="pull-left"><strong><%= ab.G1%></strong></div></td>             
            </tr>
          <% when 2 %> 
            <tr>
               <td><div class="pull-left"><%= ab.G1 %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= ab.G2 %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G3) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G4) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G5) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G6) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G7) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G8) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G9) %></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><%= display_cell_data(ab.G10) %></div></td>
            </tr>
          <% when 3 %>
            <tr>
               <td><div class="pull-left"           style="line-height: 20px; vertical-align:middle;"><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered" style="line-height: 35px; vertical-align:middle;"><strong><%= display_cell_data(ab.G10) %></strong></div></td>
            </tr>
          <% when 4 %>
            <tr>
             <td><div><%= ab.G1%></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
             <td><div></div></td>
           </tr>
          <% when 5 %>
           <tr>
               <td><div class="pull-left"><em><%= ab.G1 %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= ab.G2 %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G3) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G4) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G5) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G6) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G7) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G8) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G9) %></em></div></td>
               <td><div class="pagination-centered" style="line-height: 25px; vertical-align:middle;"><em><%= display_cell_data(ab.G10)%></em></div></td>
            </tr>
          <% when 6 %>
            <tr>
               <td><div class="pull-left"><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered"><strong><%= display_cell_data(ab.G10) %></strong></div></td>
            </tr>
          <% when 7 %>
            <tr>
               <td><div class="pull-left"           ><strong><%= ab.G1 %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= ab.G2 %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G3) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G4) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G5) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G6) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G7) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G8) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G9) %></strong></div></td>
               <td><div class="pagination-centered" ><strong><%= display_cell_data(ab.G10) %></strong></div></td>
            </tr>
        <% end %>
      <% end %>    
    </tbody>   
  </table>