<%  provide(:title, 'Результаты')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">РЕЗУЛЬТАТЫ</li>       
      <li><%= link_to "К Панели Управления", @enterprise %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<div class="well sidebar-nav shadow" style="padding: 5pt;">
  <legend><%= image_tag("Green-Dossier-64.png") %>Результаты анализа финансового состояния.</legend>
  <table class="table table-striped table-bordered table-condensed">
    <caption><span class="badge badge-success">Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
      Рабочий период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
        <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong></span></caption>
    <thead style="background-color: lightgray">
      <tr>
        <th><div class="pagination-centered" style="vertical-align:middle;">№ п.п.</div></th>
        <th><div class="pagination-centered" style="vertical-align:middle;">Вид Анализа</div></th>
        <th colspan="2"><div class="pagination-centered" >Просмотр</div></th>
      </tr>      
    </thead>
  <tbody>
    <tr>
      <td><div class="pagination-centered" style="line-height: 150px; vertical-align:middle;">1.</div></td>
      <td>
        <div class="pull-left" style="line-height: 30px; vertical-align:middle;">АНАЛИЗ БАЛАНСА :</br>
         <ul>
           <li>
             <%= link_to "Анализ Активов баланса", results_ab_path(id: @enterprise, ab: 1, view: 1) %>  
           </li>
           <li>
             <%= link_to "Анализ Раздела I баланса (Долгосрочные активы)", results_ab_path(id: @enterprise, ab: 2, view: 1) %>
           </li>
           <li>
             <%= link_to "Анализ Раздела II баланса (Краткосрочные активы)", results_ab_path(id: @enterprise, ab: 3, view: 1) %>
           </li>
           <li>
             <%= link_to "Анализ Пассивов баланса", results_ab_path(id: @enterprise, ab: 4, view: 1) %>
           </li>
           <li>
             <%= link_to "Анализ Раздела III баланса (Собственный капитал)", results_ab_path(id: @enterprise, ab: 5, view: 1) %>
           </li>
           <li>
             <%= link_to "Анализ Раздела IV баланса (Долгосрочные обязательства)", results_ab_path(id: @enterprise, ab: 6, view: 1) %>
           </li>
           <li>
             <%= link_to "Анализ Раздела V баланса (Краткосрочные обязательства)", results_ab_path(id: @enterprise, ab: 7, view: 1) %>
           </li>
         </ul>  
        </div></td>
        <td><div class="pagination-centered" style="line-height: 150px; vertical-align:middle;">-</div></td>
        <td><div class="pagination-centered" style="line-height: 150px; vertical-align:middle;">-</div></td>
    </tr>      
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">2.</div></td>
      <td><div class="pull-left"           style="line-height: 30px; vertical-align:middle;">ФИНАНСОВАЯ УСТОЙЧИВОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Таблично", results_fu_table_path(id: @enterprise) , class: "btn btn-small btn-success" %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Графически", results_fu_graph_path(id: @enterprise) , class: "btn btn-small btn-info" %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">3.</div></td>
      <td><div class="pull-left"           style="line-height: 30px; vertical-align:middle;">ЛИКВИДНОСТЬ И ПЛАТЁЖЕСПОСОБНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Таблично", results_lp_table_path(id: @enterprise) , class: "btn btn-small btn-success" %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Графически", results_lp_graph_path(id: @enterprise) , class: "btn btn-small btn-info" %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">4.</div></td>
      <td><div class="pull-left"           style="line-height: 30px; vertical-align:middle;">ДЕЛОВАЯ АКТИВНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Таблично", results_da_table_path(id: @enterprise) , class: "btn btn-small btn-success" %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Графически", results_da_graph_path(id: @enterprise) , class: "btn btn-small btn-info" %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">5.</div></td>
      <td><div class="pull-left"           style="line-height: 30px; vertical-align:middle;">РЕНТАБЕЛЬНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Таблично", results_ren_table_path(id: @enterprise) , class: "btn btn-small btn-success" %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to "Графически", results_ren_graph_path(id: @enterprise) , class: "btn btn-small btn-info" %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">6.</div></td>
      <td><div class="pull-left"           style="line-height: 30px; vertical-align:middle;"><%= link_to "Анализ чистых активов" , results_cha_path(id: @enterprise)%> <span class="badge badge-info">Идёт тестирование</span></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">-</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">-</div></td>
    </tr>
  </tbody>   
  </table>
</div>
<% end  %>