
<%  provide(:title, 'Результаты')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">РЕЗУЛЬТАТЫ</li>       
      <li><%= link_to "К Панели Управления", enterprise_path(params[:id]) %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <legend><%= image_tag("Green-Dossier-64.png") %> Результаты анализа финансово-экономического состояния.</legend>
  <table class="table table-striped table-bordered table-condensed">
    <caption> Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
      Рабочий период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
        <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong></caption>
    <thead>
      <tr>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 40px; vertical-align:middle;">№ п.п.</div></th>
        <th rowspan="2"><div class="pagination-centered" style="line-height: 40px; vertical-align:middle;">Категория показателей</div></th>
        <th colspan="2"><div class="pagination-centered" >Просмотр</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">Таблично</div></th>
        <th><div class="pagination-centered">Графически</div></th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">1.</div></td>
      <td><div class="pull-left" style="line-height: 30px; vertical-align:middle;">АНАЛИТИЧЕСКИЙ БАЛАНС</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("Generate tables 32.png"), results_ab_table_path(id: @enterprise) %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("column chart 32.png"),    results_ab_graph_path(id: @enterprise) %></div></td>
    </tr>      
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">2.</div></td>
      <td><div class="pull-left" style="line-height: 30px; vertical-align:middle;">ФИНАНСОВАЯ УСТОЙЧИВОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("Generate tables 32.png"),results_fu_table_path(id: @enterprise) %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("column chart 32.png"),results_fu_graph_path(id: @enterprise) %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">3.</div></td>
      <td><div class="pull-left" style="line-height: 30px; vertical-align:middle;">ЛИКВИДНОСТЬ И ПЛАТЁЖЕСПОСОБНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("Generate tables 32.png"),results_lp_table_path(id: @enterprise) %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("column chart 32.png"),results_lp_graph_path(id: @enterprise) %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">4.</div></td>
      <td><div class="pull-left" style="line-height: 30px; vertical-align:middle;">ДЕЛОВАЯ АКТИВНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("Generate tables 32.png"),results_da_table_path(id: @enterprise) %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("column chart 32.png"),results_da_graph_path(id: @enterprise) %></div></td>
    </tr>
    <tr>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;">5.</div></td>
      <td><div class="pull-left" style="line-height: 30px; vertical-align:middle;">РЕНТАБЕЛЬНОСТЬ</div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("Generate tables 32.png"),results_ren_table_path(id: @enterprise) %></div></td>
      <td><div class="pagination-centered" style="line-height: 30px; vertical-align:middle;"><%= link_to image_tag("column chart 32.png"),results_ren_graph_path(id: @enterprise) %></div></td>
    </tr>
  </tbody>   
  </table>
<% end  %>