<%  provide(:title, 'Результаты|Таблично')%>  

<legend><%= image_tag("Generate tables 64.png") %> Показатели Рентабельности (таблично)</legend>

<%= link_to "К странице Результаты", results_path(id: @enterprise) %>

<table class="table table-striped table-bordered table-condensed" style="font-size: 11px">
    <caption> Предприятие - <strong><em><%= @enterprise.org_name %>.</em></strong> 
              За период : <strong><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %> - 
                                  <%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></strong></caption>
    <thead>
      <tr>
        <th rowspan="3"><div class="pagination-centered" style="line-height: 20px; vertical-align:middle; min-width: 100px">На дату (за период с начала года)</div></th>
        <th colspan="14"><div class="pagination-centered">Коэффициенты Рентабельности</div></th>        
      </tr>
      <tr>
        <th colspan="2"><div class="pagination-centered">Продаж, %</div></th>
        <th colspan="2"><div class="pagination-centered">Активов, %</div></th>
        <th colspan="2"><div class="pagination-centered">Собственного капитала, %</div></th>
        <th colspan="2"><div class="pagination-centered">Произв-ных затрат, составляющих себестоимость продукции, работ, услуг, %</div></th>
        <th colspan="2"><div class="pagination-centered">Полной себестоимости реализованной продукции, работ, услуг, %</div></th>
        <th colspan="2"><div class="pagination-centered">Общих расходов коммерческой организации, %</div></th>
        <th colspan="2"><div class="pagination-centered">Расходов, обусл-их получение чистой прибыли ком-cкой орг-ции, %</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
        <th><div class="pagination-centered">Значение</div></th>
        <th><div class="pagination-centered">Максимум</div></th>
      </tr>
      <tr>
        <th><div class="pagination-centered">1</div></th>
        <th><div class="pagination-centered">2</div></th>
        <th><div class="pagination-centered">3</div></th>
        <th><div class="pagination-centered">4</div></th>
        <th><div class="pagination-centered">5</div></th>
        <th><div class="pagination-centered">6</div></th>
        <th><div class="pagination-centered">7</div></th>
        <th><div class="pagination-centered">8</div></th>
        <th><div class="pagination-centered">9</div></th>
        <th><div class="pagination-centered">10</div></th>
        <th><div class="pagination-centered">11</div></th>
        <th><div class="pagination-centered">12</div></th>
        <th><div class="pagination-centered">13</div></th>
        <th><div class="pagination-centered">14</div></th>
        <th><div class="pagination-centered">15</div></th>
      </tr>
    </thead>
    <tbody>      
      <% @REN.each do |ren| %>      
          <tr>       
               <td><div class="pagination-centered" ><%= Russian::strftime(ren.date_period_end,"%d %B %Y г.") %></div></td>
               
               <% if ren.Krenprod==@REN_MAX_Krenprod%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenprod) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenprod) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenprod) %></div></td>
               
               <% if ren.Krenact==@REN_MAX_Krenact%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenact) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenact) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenact) %></div></td>
               
               <% if ren.Krensk==@REN_MAX_Krensk%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krensk) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krensk) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krensk) %></div></td>
               
               <% if ren.Krenpz==@REN_MAX_Krenpz%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenpz) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenpz) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenpz) %></div></td>
               
               <% if ren.Krenps==@REN_MAX_Krenps%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenps) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenps) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenps) %></div></td>
               
               <% if ren.Krenor==@REN_MAX_Krenor%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenor) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenor) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenor) %></div></td>
               
               <% if ren.Krenchp==@REN_MAX_Krenchp%>
                  <td><div class="pagination-centered" style="background-color: #90EE90"><%= display_result_data(ren.Krenchp) %></div></td>
               <% else %>
                  <td><div class="pagination-centered"><%= display_result_data(ren.Krenchp) %></div></td>
               <% end %>
               <td><div class="pagination-centered"><%= display_result_data(@REN_MAX_Krenchp) %></div></td>             
          </tr>          
      <% end %>    
    </tbody>   
  </table>