
<legend><%= image_tag("News-64.png")%><strong>Вход в систему</strong></legend>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="span6 offset3">
      <%= f.label :login %>
      <%= f.text_field :login %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end %>
      <%= f.submit "Выполнить", :class => "btn btn-large btn-primary" %>
    </div>
  </div>  
<% end %>

<%= render :partial => "devise/shared/links" %>
