<%= simple_form_for(@enterprise, html: {class: "well form-vertical shadow"},
    defaults: {label: false, :input_html => { :class => 'span12'} }) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-inputs">
      <%= f.input :org_name,           :label => 'Наименование организации:' %>
      <%= f.input :uch_nomer_plat,     :label => 'Учётный номер плательщика:' %>
      <%= f.input :vid_econom_deyatel, :label => 'Вид экономической деятельности:' %>
      <%= f.input :organiz_pravo_form, :label => 'Организационно-правовая форма:' %>
      <%= f.input :organ_upravlen,     :label => 'Орган управления:' %>
      <%= f.input :edinic_izmer,       :label => 'Единица измерения:' %>
      <%= f.input :adres,              :label => 'Адрес:' %>
      <legend>Нормативы коэффициентов</legend>
        <%= f.input :K1,:label => 'Текущей ликвидности (K1):', :input_html => {:class => "span3"}, :wrapper => :prepend do %>
           <span class="add-on">>=</span><%= f.input_field :K1, :class => "span3" %>
        <%end%>
        <%= f.input :K2,:label => 'Обеспеченности собственными оборотными средствами (K2):', :input_html => {:class => "span3"}, :wrapper => :prepend do %>
           <span class="add-on">>=</span><%= f.input_field :K2, :class => "span3" %>
        <%end%>
        <%= f.input :K3,:label => 'Обеспеченности финансовых обязательств активами (K3):', :input_html => {:class => "span3"}, :wrapper => :prepend do %>
           <span class="add-on"><=</span><%= f.input_field :K3, :class => "span3" %>
        <%end%>          
      <legend>Рабочий интервал дат (ГГГГ-ММ-ДД)</legend> 
        <%= f.input :rab_date_beg, :input_html => {:class => "span2"}, :wrapper => :prepend do %>
           <span class="add-on">С </span><%= f.input_field :rab_date_beg,:as => :string, :class => "span2", :maxlength => 10 %>
        <%end%> 
        <%= f.input :rab_date_end, :input_html => {:class => "span2"}, :wrapper => :prepend do %>
           <span class="add-on">ПО</span><%= f.input_field :rab_date_end,:as => :string, :class => "span2",:maxlength => 10 %>
        <%end%>           
    </div>   
    <div class="form-actions">
      <%= f.submit "Сохранить", :class => "btn btn-large btn-primary" %>
    </div>
<% end %>