<%  provide(:title, 'Панель Управления')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav">  
    <ul class="nav nav-list">  
      <li class="nav-header">Панель Управления</li>  
      <li><%= link_to "Редактировать Организацию", edit_enterprise_path%></li>
      <li><%= link_to "К списку Организаций", enterprises_path %></li>
      <li class="nav-header">ОТЧЁТЫ</li>
      <li><%= link_to "БУХГАЛТЕРСКИЙ БАЛАНС"       , enterprise_form_one_reports_path(@enterprise) %></li>
      <li><%= link_to "О ПРИБЫЛЯХ И УБЫТКАХ"       , enterprise_form_two_reports_path(@enterprise) %></li>
      <li><%= link_to "ОБ ИЗМЕНЕНИИ КАПИТАЛА"      , enterprise_form_three_reports_path(@enterprise)%></li>
      <li><%= link_to "О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ", enterprise_form_four_reports_path(@enterprise)%></li>      
      <%#*<li>%>
<%#= link_to "БУХГАЛТЕРСКИЙ БАЛАНС (Кол-во : "+@form_one_reports_count.to_s+")"        , enterprise_form_one_reports_path(@enterprise) %>
      <%#*</li>%>
      <%#*<li>%>
<%#= link_to "О ПРИБЫЛЯХ И УБЫТКАХ (Кол-во : "+@form_two_reports_count.to_s+")"        , enterprise_form_two_reports_path(@enterprise) %>
      <%#*</li>%>
      <%#*<li>%>
<%#= link_to "ОБ ИЗМЕНЕНИИ КАПИТАЛА (Кол-во : "+@form_three_reports_count.to_s+")"     , enterprise_form_three_reports_path(@enterprise)%>
      <%#*</li>%>
      <%#*<li>%>
<%#= link_to "О ДВИЖЕНИИ ДЕНЕЖНЫХ СРЕДСТВ (Кол-во : "+@form_four_reports_count.to_s+")", enterprise_form_four_reports_path(@enterprise)%>
      <%#*</li>%>
      
      <%#*<li class="nav-header">%>
        <%#*Контроль%>
      <%#*</li>%>      
      <%#*<li>%>
        <%#= link_to "Выполнить ..."   , "#" %>
      <%#*</li>%>      
      <li class="nav-header">АНАЛИЗ</li>
      <li><%= link_to "Провести ..."   , calc_prompt_path(id: @enterprise) %></li>      
      <li class="nav-header">РЕЗУЛЬТАТЫ</li>
      <li><%= link_to "Смотреть ...", results_path(id: @enterprise) %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
<legend><%= image_tag("Company 64.png")%><strong>Сведения об Организации</strong></legend>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <td><div class="pull-right">Наименование:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.org_name %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Учётный номер плательщика:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.uch_nomer_plat %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Вид экономической деятельности:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.vid_econom_deyatel %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Организационно-правовая форма:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.organiz_pravo_form %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Орган управления:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.organ_upravlen %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Единица измерения:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.edinic_izmer %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Адрес:</div></td>
        <td><div class="pull-left"><em><%= @enterprise.adres %></em></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pagination-centered"><strong>Нормативы коэффициентов</strong></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Текущей ликвидности (K1):</div></td>
        <td><div class="pull-left"><em>>= <%= @enterprise.K1 %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Обеспеченности собственными оборотными средствами (K2):</div></td>
        <td><div class="pull-left"><em>>= <%= @enterprise.K2 %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">Обеспеченности финансовых обязательств активами (K3):</div></td>
        <td><div class="pull-left"><em><= <%= @enterprise.K3 %></em></div></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pagination-centered"><strong>Рабочий интервал дат (ГГГГ-ММ-ДД)</strong></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">С :</div></td>
        <td><div class="pull-left"><em><%= Russian::strftime(@enterprise.rab_date_beg,"%d %B %Y г.") %></em></div></td>
      </tr>
      <tr>
        <td><div class="pull-right">ПО:</div></td>
        <td><div class="pull-left"><em><%= Russian::strftime(@enterprise.rab_date_end,"%d %B %Y г.") %></em></div></td>
      </tr>
    </tbody>    
  </table>  
<% end  %>