<%  provide(:title, 'Отчёт о прибылях и убытках')%>

<% content_for :span3 do %>      
  <div class="well sidebar-nav shadow">  
    <ul class="nav nav-list">  
      <li class="nav-header">Отчёты "О ПРИБЫЛЯХ И УБЫТКАХ"</li>  
      <li><%= link_to "Новый", new_enterprise_form_two_report_path%></li>  
      <li><%= link_to "К Панели Управления", @enterprise %></li>      
    </ul>  
  </div>  
<% end  %>

<% content_for :span9 do %>
  <table class="table table-striped table-bordered table-condensed">
    <caption>Список отчётов<strong> О ПРИБЫЛЯХ И УБЫТКАХ</strong> предприятия <strong><em><%= @OrgName %></em></strong></caption>
    <thead>
      <tr>
        <th><div class="pagination-centered" style="min-width: 80pt; line-height: 50px; vertical-align:middle;">За период</div></th>
        <th><div class="pagination-centered">Приб/убыт от текущей</br> деятельности</div></th>
        <th><div class="pagination-centered">Совокупная </br>прибыль(убыток)</div></th>
        <th colspan="2"><div class="pagination-centered" style="line-height: 50px; vertical-align:middle;">Действия</div></th>
      </tr>
    </thead>
    <tbody>
     <% @form_two_reports.each do |form_two_report| %>        
        <tr>          
          <td style="padding: 2px"><div class="pull-left">C <%= Russian::strftime(form_two_report.date_period_beg,"%d %B %Y") %><br/> По <%= Russian::strftime(form_two_report.date_period_end,"%d %B %Y") %></div></td>
          <td style="padding: 2px"><div class="pull-right"><%= number_with_delimiter(form_two_report.S090, delimiter: ' ') %></div></td>
          <td style="padding: 2px"><div class="pull-right"><%= number_with_delimiter(form_two_report.S210, delimiter: ' ') %></div></td>
          <td style="padding: 2px">
            <div class="pagination-centered">
              <%= link_to ([@enterprise,form_two_report]), 
                   class: "btn btn-small btn-danger", 
                   method: :delete,                                             
                   confirm: "Вы уверены удалить ОТЧЁТ О ПРИБЫЛЯХ И УБЫТКАХ за период c "+Russian::strftime(form_two_report.date_period_beg,"%d %B %Y")+" года по "+
                                                                                       Russian::strftime(form_two_report.date_period_end,"%d %B %Y")+" года для "+@OrgName+" ?" do %>
                Удалить...<i class="icon-trash icon-white"></i> 
              <% end %>
             </div>
          </td>
          <td style="padding: 2px">
            <div class="pagination-centered">
              <%= link_to (enterprise_form_two_report_path(@enterprise,form_two_report)), class: "btn btn-small btn-info" do %>
                Подробно...<i class="icon-info-sign icon-white"></i>
              <% end %>  
            </div>
          </td>          
        </tr>
      <% end %>      
    </tbody>    
  </table>
  <%= will_paginate %>
<% end  %>
