<footer class="footer">
  <small>
    <div class="container">
 <% unless current_user.nil? %>
      <div class="span1"><%= image_tag("User Active 64.png") %></div>
      <div class="row">        
        <div class="span7">
<%# case ab.row_type %>
<%# when 0 %> 

<%# when 1 %> 

<%# when 2 %> 

<%# when 3 %>

<%# end %>          
          <h4>A basic Progress Bar with vertical gradient</h4>
<%# progress-danger progress-warning progress-info progress-success%>
          <div class="progress <%= "progress-success"%>">
            <div class="bar"
                 style="width: 60%;"></div>
          </div>
        </div>
<% end %>
        <nav>
          <ul>
            <li><%= link_to "О проекте", about_path %></li>
            <li><%= link_to "Наши контакты", contact_path %></li>
            <li><%= link_to "Новости", news_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </small>
</footer>