<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav pull-left">
        <%= link_to image_tag("Column Chart 48.png", alt: "Онлайн финансовый анализ"), '#' %>
      </div>
      <%= link_to "Онлайн Финансовый Анализ", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "На главную",root_path %></li>
          <li><%= link_to "Документация",help_path %></li>
          <li><%= link_to "Вход на сайт", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>