<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav pull-left">
        <%= link_to image_tag("Column Chart 64.png", alt: "Онлайн финансовый анализ"), '#' %>
      </div>
      <%= link_to "Онлайн финансовый анализ", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "К начальной",'#' %></li>
          <li><%= link_to "Документация",'#' %></li>
          <li><%= link_to "Вход на сайт", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>