<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <%# if user_signed_in? %>
         <div class="nav pull-left">
           <%= link_to image_tag("Column Chart 48.png", alt: "Онлайн финансовый анализ"), root_path %>
         </div>     
        <%= link_to "АС On-Line Финансовый Анализ", root_path, id: "logo" %>
      <%# end %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "На Главную",root_path %></li>          
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <li><%= link_to "Админка",rails_admin_path %></li>
            <% end %>           
            <li id="fat-menu_1" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "Документы" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <%#*<li>%>
<%#= link_to "Руководство пользователя", help_path%>
                <%#*</li>%>
                <li><%= link_to "Нормативные документы", normativ_path%></li>
                <li><%= link_to "Глоссарий", glossary_path%></li>
              </ul>
            </li>
            <li id="fat-menu_2" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Редактировать...", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выйти из системы", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Войти в систему", new_user_session_path %></li>
          <% end %>          
        </ul>
      </nav>
    </div>
  </div>
</header>