<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav pull-left">
        <%= link_to image_tag("Column Chart 48.png", alt: "Онлайн финансовый анализ"), root_path %>
      </div>
      <%= link_to "Онлайн Финансовый Анализ", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "На главную",root_path %></li>          
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <li><%= link_to "Админка",rails_admin_path %></li>
            <% end %>
            <li><%= link_to "Документация",help_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Редактировать...", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Выйти", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Войти", new_user_session_path %></li>
          <% end %>          
        </ul>
      </nav>
    </div>
  </div>
</header>