<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%  if key.to_s=='alert' or key.to_s=='error' %>
          <%= content_tag(:div, value , class: "alert alert-error") %>
          <% end %>
          <%  if key.to_s=='notice' %>
            <%= content_tag(:div, value , class: "alert alert-info") %>
            <% end %>
            <%  if key.to_s=='success' %>
              <%= content_tag(:div, value , class: "alert alert-success") %>
              <% end %>      
            <% end %>

            <% if user_signed_in? %>
               <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span3">  
                      <% if content_for?(:span3) %>  
                        <%= yield :span3 %>
                      <% end %>
                    </div>
                    <div class="span9">  
                      <% if content_for?(:span9) %>  
                        <%= yield :span9 %>
                      <% end %>                      
                    </div>
                  </div>  
                </div>              
            <% else %>
              <% provide(:title, 'Гостевая Область') %>
              <% if content_for?(:guest_area) %>  
                 <%= yield :guest_area %>
              <% else %>
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span3">  
                      <% if content_for?(:span3) %>  
                        <%= yield :span3 %>
                      <% end %>
                    </div>
                    <div class="span9">  
                      <% if content_for?(:span9) %>  
                        <%= yield :span9 %>
                      <% end %>                      
                    </div>
                  </div>  
                </div>
              <% end %>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
            <%#= debug(assigns) if Rails.env.development? %>
            <%#= debug(base_path) if Rails.env.development? %>
            <%#= debug(controller) if Rails.env.development? %>
            <%#= debug(flash) if Rails.env.development? %>
            <%#= debug(reguest) if Rails.env.development? %>
            <%#= debug(response) if Rails.env.development? %>
            <%#= debug(session) if Rails.env.development? %>
       </div>
    
    <script type="text/javascript">
    var reformalOptions = {
        project_id: 71206,
        project_host: "ofina.reformal.ru",
        tab_orientation: "right",
        tab_indent: "50%",
        tab_bg_color: "#0e805c",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/a08a7c60392f68cb33f77d4f56cf8c6f/right/1/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>
<noscript>
<a class='noprint' href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" />
</a>
<a class='noprint' href="http://ofina.reformal.ru">Oтзывы и предложения для АС On-Line Финансовый Анализ
</a>
</noscript>
    
    </body>
</html>