<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%  if key.to_s=='alert' or key.to_s=='error' %>
          <%= content_tag(:div, value , class: "alert alert-error") %>
          <% end %>
          <%  if key.to_s=='notice' %>
            <%= content_tag(:div, value , class: "alert alert-info") %>
            <% end %>
            <%  if key.to_s=='success' %>
              <%= content_tag(:div, value , class: "alert alert-success") %>
              <% end %>      
            <% end %>

            <% if user_signed_in? %>
              <%# тут ещё добавить логику для пользователя, если он админ ... %>
              <%  if current_user.admin %>
                <% provide(:title, 'Административная Область') %>
          
              <% else %>
                <% provide(:title, 'Пользовательская Область') %>
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span3">  
                      <% if content_for?(:span3) %>  
                        <%= yield :span3 %>
                      <% end %>
                    </div>
                    <div class="span9">  
                      <% if content_for?(:span9) %>  
                        <%= yield :span9 %>
                      <% end %>                      
                    </div>
                  </div>  
                </div>
              <% end %>
            <% else %>
              <% provide(:title, 'Гостевая Область') %>
              <% if content_for?(:guest_area) %>  
                 <%= yield :guest_area %>
              <% end %>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
            <%#= debug(assigns) if Rails.env.development? %>
            <%#= debug(base_path) if Rails.env.development? %>
            <%#= debug(controller) if Rails.env.development? %>
            <%#= debug(flash) if Rails.env.development? %>
            <%#= debug(reguest) if Rails.env.development? %>
            <%#= debug(response) if Rails.env.development? %>
            <%#= debug(session) if Rails.env.development? %>
       </div>
    </body>
</html>