<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= full_title(yield(:title)) %></title>
    <meta name="keywords" content="комплекный анализ хозяйственной деятельности коммерческой организации Республики Беларусь,
          онлайн финансовый анализ в Республике Беларусь, 
                                   ликвидность, платёжеспособность, финансовая устойчивость, деловая активность, рентабельность,
                                   аналитический баланс,хозяйственный анализ Республика Беларусь,
                                   анализ хозяйственной деятельности РБ, хозяйственный анализ онлайн Республика Беларусь,
                                   комплексный анализ хозяйственной деятельности предприятия организации Республика Беларусь" />
    <meta name="description" content="Сайт Автоматизированная система On-Line Финансовый Анализ адресован профессионалам в области финансового анализа 
          хозяйственной деятельности и бизнес-планирования. Позволяет по данным пользователя провести комплексный анализ хозяйственной деятельности 
          коммерческой организации в соответствии с законодательством Республики Беларусь" />
    <%= stylesheet_link_tag    "application", media: "all" %>    
    <%= javascript_include_tag "application", "ckeditor/init" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%# На страницах, где выводятся результаты, убираем хидер, чтобы красиво можно было распечатать...%>
    <% unless params[:controller]=='results' and params[:action]!='index'%>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%  if key.to_s=='alert' or key.to_s=='error' %>
          <%= content_tag(:div, value , class: "alert alert-error") %>
          <% end %>
          <%  if key.to_s=='notice' %>
            <%= content_tag(:div, value , class: "alert alert-info") %>
            <% end %>
            <%  if key.to_s=='success' %>
              <%= content_tag(:div, value , class: "alert alert-success") %>
              <% end %>      
            <% end %>

            <% if user_signed_in? %>
               <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span3">  
                      <% if content_for?(:span3) %>  
                        <%= yield :span3 %>
                      <% end %>
                    </div>
                    <div class="span9">  
                      <% if content_for?(:span9) %>  
                        <%= yield :span9 %>
                      <% end %>                      
                    </div>
                  </div>  
                </div>              
            <% else %>
              <% provide(:title, 'Гостевая Область') %>
              <% if content_for?(:guest_area) %>  
                 <%= yield :guest_area %>
              <% else %>
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="span3">  
                      <% if content_for?(:span3) %>  
                        <%= yield :span3 %>
                      <% end %>
                    </div>
                    <div class="span9">  
                      <% if content_for?(:span9) %>  
                        <%= yield :span9 %>
                      <% end %>                      
                    </div>
                  </div>  
                </div>
              <% end %>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
            <%#= debug(assigns) if Rails.env.development? %>
            <%#= debug(base_path) if Rails.env.development? %>
            <%#= debug(controller) if Rails.env.development? %>
            <%#= debug(flash) if Rails.env.development? %>
            <%#= debug(reguest) if Rails.env.development? %>
            <%#= debug(response) if Rails.env.development? %>
            <%#= debug(session) if Rails.env.development? %>
       </div>   
    
     <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36211473-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>